{% extends 'base.html' %}
{% load static %}
{% with artist=artist alerts=alerts %}
{% block content %}
<div style="  justify-content:row;  display: flex; ">
<img class="back" src="{% static 'images/back.png'%}" alt="이전" ></img>
    <h1 style="margin-left:15px;">상세조회</h1>
</div>
    <div class="percent"></div>
    <!--일반 사용자일 때-->
    {% if support.user == request.user %}
    <button style="margin-left:20px;"class="all-button" onclick="location.href='{% url 'support:update_support' pk=artist.pk spt_pk=support.pk %}'">수정</button>
    {% endif %}

    <div class="detail-container">
    <div class="title">{{support.title}}</div>
    <div class="goal">{{support.fundraising}}</div>
    <div class="detail">{{support.body}}</div>
    {% if support.image %}
    <img src={{support.image.url}} class="support-img"  alt="Support Image">
    {% endif %}

    <div class="account">{{support.bank}} {{support.account}}</div>
    <div class="enddate">{{support.deadline|date:"Y/m/d Ah:i"}}</div>
    </div>

{% if not support.status == '완료' %}
    <!--일반 사용자일 때-->
    {% if not support.user == request.user %}
    <button style="margin-top:20px; background: #BC67FF"class="start-Button" onclick="location.href='{% url 'support:create_support_form' pk=artist.pk spt_pk=support.pk %}'">모금 정보 작성하기</button>
    {% endif %}

    <!--관리자일 때-->
    {% if support.user == request.user %}
        <form method="post" action="{% url 'support:support_dtl' pk=artist.pk spt_pk=support.pk %}">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="closing">
            {% if not warning %}
            <button style="margin-top:20px;"class="start-Button"  type="submit">마감하기</button>
            {% endif %}
            {% if warning %}
            <button class="start-Button" style="margin-top:20px;"  type="submit">{{warning}}</button>
            {% endif %}
        </form>
        <div class="line"></div>

        <p class="text"style="margin-left:120px;" >모금자 정보</p>
        <div class="supportinfo-container">
            {% for form in support_form %}
            <div class="info-text">
                <div style="margin-bottom:10px; border: 1px solid #333333; filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); border-radius: 16px; padding: 5px; ">
                    <p>{{form.depositor}} | {{form.credit}}원</p>
                    <p style="color: #949494">{{form.creditTime}}</p>
      
                    {% if form.status == '대기' %}
                    <div  onclick="showPopup()" style="color:red;  ">대기 </div>
                    <div id="pop_info_1" class="pop_wrap" style="display: none">
                        <div class="pop_inner">
                          <p class="dsc">입금 확인이 되었나요?</p>
                          <form method="post" action="{% url 'support:support_dtl' pk=artist.pk spt_pk=support.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="form_type" value="wait_status">
                            <input type="hidden" name="form_pk" value="{{form.pk}}">
                            <input type="submit"  class="btn_yes"  value="네" style="color:blue">
                        </form>
                          <button type="button" class="btn_no" onclick="hidePopup()">아니요</button>
                        </div>
                    
                    </div>
                    {% endif %}
                  
                    {% if not form.status == '대기' %}
                    <div style="color:blue">{{form.status}}</div>
                    {% endif %}               
                 </div>
            </div>
       
        {% endfor %}
    </div>
        {% endif %}
{% endif %}

{% if support.status == '완료' %}
  <button style="margin-top:20px;"class="start-Button">완료된 서포트입니다</button>
  <div class="line"></div>
        <p class="text"style="margin-left:120px;" >출금 내역</p>
  {% if not banks %}
  <div style="  margin:-10px 0px 20px 90px;">출금 내역이 없습니다.</div>
  {% endif %}
  <div class="supportinfo-container">
  {% for bank in banks %}
  <div style="margin-bottom:10px; border: 1px solid #333333; filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); border-radius: 16px; padding: 5px; ">
    <input type="text" class="form-input" value="{{ bank.depositor }}" readonly><br>
    <input type="text" class="form-input" value="{{ bank.creditTime|date:"Y-m-d A h:i" }}" readonly><br>
    <input type="text" class="form-input" value="{{ bank.credit }} 출금" readonly><br>
  </div>
  {% endfor %}
</div>
{% endif %}


  <script>
    function showPopup() {
      const popup = document.getElementById('pop_info_1');
      popup.style.display = 'block';
      const waitingText = document.querySelector('.info-text > div > div > div');
    
  }

  // Change the color of "대기" back to blue when hiding popup
  function hidePopup() {
      const popup = document.getElementById('pop_info_1');
      popup.style.display = 'none';
      const waitingText = document.querySelector('.info-text > div > div > div');
      waitingText.style.color = 'blue';
  }

  </script>
{% endblock %}
{% endwith %}
