{% extends 'base.html' %}
{% load static %}
{% with artist=artist alerts=alerts %}
{% block content %}
<div style="margin-bottom:5px;" class="category">
    <button class="all" onclick="location.href='{% url 'support:support_list' pk=artist.pk %}'">서포트 전체</button>
    <button class="mysupport" onclick="location.href='{% url 'support:my_support_list' pk=artist.pk %}'">내가 참여한 서포트</button>
</div>
<div class="category-button">
    <button class="all-button" onclick="location.href='{% url 'support:support_list' pk=artist.pk %}'">진행중</button>
    <button class="end-button" onclick="location.href='{% url 'support:support_list_complete' pk=artist.pk %}'">완료</button>
    <button class="write-button" onclick="location.href='{% url 'support:create_support' pk=artist.pk %}'">작성</button>
</div>
<div class="supporting">
    {% for support in supports %}
    <div class="support_box" onclick="location.href='{% url 'support:support_dtl' pk=artist.pk spt_pk=support.pk %}'">
        {%with goal=support.fundraising%}
        <div style="width: 70%;">
            <h1 class="spt_list_h1"> {{support.title}}</h1>
            <h3 class="spt_list_h3"> 목표: <div  id="goal">{{support.fundraising}}</div></h3>
            <h3 class="spt_list_h3"> 종료: {{support.deadline|date:"Y/m/d Ah:i"}}</h3>
            <h2 class="spt_list_h2">{{support.bank}} {{support.account}}</h2>
               <div id="amt" style="display:none;">{{support.balanceAmt}}</div>
        </div>
        <div class="box" id="completionBox" >
            <div id="percent">{{support.balanceAmt|div:goal|mul:100|floatformat:"0"}}</div><span style="font-size: 17px">%</span>
        </div>
        {%endwith%}
    </div>
    {% endfor %}
</div>

{% endblock %}
{% endwith %}