{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"
    />
    <link rel="stylesheet" href="{% static 'css/base_artistlist.css' %}" />

    <link rel="stylesheet" href="{% static 'css/artist_list.css' %}" />
    <link rel="stylesheet" href="{% static 'css/subscribe_list.css' %}" />
    <link rel="stylesheet" href="{% static 'css/create_post.css' %}" />
    <link rel="stylesheet" href="{% static 'css/support_create.css' %}" />
    <link rel="stylesheet" href="{% static 'css/create_post.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'css/tutorial_support_start_step_1.css' %}"
    />
    <title>별너울</title>
    {% include 'head.html' %}
    <style>
    .hand{ animation: motion 1s 
      linear 0s   
      infinite alternate; 

    }
    @keyframes motion {
      0% {margin-top: -100px;} /* 처음 위치 */
      100% {margin-top: -80px;} /* 마지막 위치 */
      }
      .dark-background {
        background-color: rgba(0, 0, 0, 0.6); 
        position: absolute;
        top: 0;
        left: 0;
        width: 375px;
        height: 100%;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .in::placeholder{
      text-align: center;
      font-size: 30px;
      letter-spacing: 10px;
      position:relative;
    }
</style>
  </head>
  <body>
    <div class="container" style="position:relative; ">
      
      <div class="dark-background" id="popup" style="display:none;">
      </div>
      <div class="content">
        <div style="margin: 60px 0">
          <h1 class="support_h1">서포트 계좌 인증</h1>
          <h2 style="font-size: 24px; font-weight: 400; margin-left: 25px">
            인증번호 입력
          </h2>
          <p style="margin: 0 25px; word-break: break-all">
            인증하신 계좌로 1원을 보내드렸습니다. 계좌의 입금 내역에 표시된
            4자리 글자를 입력해주세요.
          </p>
          <div
            style="
              display: flex;
              width: 100%;
              justify-content: center;
              margin: 30px 0;
              text-align: center;
            "
          >
            <input
              id="support-input-1"
              style="
                width: 260px;
                height: 60px;
                text-align: center;
                font-size: 30px;
                letter-spacing: 10px;
                position:relative;
                background:#fff;
             
              "
              placeholder="별너울이"
              type="text"
              maxlength="4"
              class="in"
             

            />
          </div>
          <div class=" account-box"
            style="
              width: 290px;
              background-color: rgb(235, 235, 235);
              color: rgb(55, 55, 55);
              margin: 0 auto;
              padding: 15px 20px;
              letter-spacing: 2px;
           
            "
          >
            {{ support.bank }} {{support.account}}
          </div>

          <div
            style="
              width: 310px;
              margin: 0 auto;
              font-size: 12px;
              color: rgb(50, 50, 50);
            "
          >
          <img style="width:80px; height:80px;z-index:100000; left: 260px; top: 370px; position:absolute;display:none" src="{% static 'images/hand.png'%}" alt="손" class="hand">

            *입금 내역이 없다면 입력하신 계좌를 다시 한번 확인해주세요.
          </div>
          <div class="start"
            id="nextButton"
            style="
              width: 327px;
              background:#bc67ff;
              border-radius: 30.5px;
              font-size: 22px;
              line-height: 180%;
              text-align: center;
              color: #ffffff;
              margin: 50px auto;
              padding: 10px 0;
              position:relative;
            "
            disabled
            onclick=none;
          >다음</div>
      
        </div>

      </div>
    </div>

    <script>
      const storedAccount = localStorage.getItem('account');
      const storedBank = localStorage.getItem('bank');
      const support_input = document.querySelector("support-input-1");


      const b1 = document.querySelector(".speech-bubble");
      const inin = document.querySelector(".in");
      const hand = document.querySelector(".hand");
      const nextButton = document.getElementById("nextButton");

      const popup = document.getElementById("popup");

      function handleClick(){
        setInterval(()=>{
           location.href='{% url 'support:create_support_step_3' pk=artist.pk spt_pk=support.pk %}';
        }, 1000);
      }
    
      inin.addEventListener("input", function () {
        if (inin.value === "별너울이") {
          nextButton.removeAttribute("disabled");
          nextButton.style.background = "#bc67ff";
          nextButton.innerText="다음"
          nextButton.addEventListener('click', handleClick);
        } else {
          nextButton.style.background = "#b3b1b0";
          nextButton.innerText="네자리 글자를 확인해주세요."
          nextButton.style.zIndex = "1";
          nextButton.setAttribute("disabled", "true");
        }
      });
      

    </script>
  </body>
</html>
