{% extends 'base.html' %}
{% with artist=artist alerts=alerts %}
{% block content %}
{% load custom_filters %}

<div style="margin-bottom:5px; " class="support_list_category">
    <button class="allsupport" id ="all"  style="width:160px;font-weight: 1000;margin-left: 15px;"onclick="location.href='{% url 'support:support_list' pk=artist.pk %}'">서포트 전체</button>
    <button class="mysupport" id="my" style="width:160px;font-weight: 1000;margin-left: 15px;" onclick="location.href='{% url 'support:my_support_list' pk=artist.pk %}'">참여한 서포트</button>
</div>
<div class="support_button">
    <button class="all_button" onclick="location.href='{% url 'support:support_list' pk=artist.pk %}'">진행중</button>
    <button class="end_button" onclick="location.href='{% url 'support:support_list_complete' pk=artist.pk %}'">종료</button>
    <button class="write_button" onclick="location.href='{% url 'support:create_support' pk=artist.pk %}'">작성</button>
</div>
<div class="supporting">
    {% for support in supports %}
    <div class="support_list_box" onclick="location.href='{% url 'support:support_dtl' pk=artist.pk spt_pk=support.pk %}'">
        {%with goal=support.fundraising%}
        <div style="width: 70%;">
            <h1 class="spt_list_h1"> {{support.title}}</h1>
            <h3 class="spt_list_h3" style="width:300px"> 목표: {{support.fundraising}}</h3>
            <h3 class="spt_list_h3"> 종료: {{support.deadline|date:"Y/m/d Ah:i"}}</h3>
            <h2 class="spt_list_h2">{{support.bank}} {{support.account}}</h2>
        </div>
        <div class="support_percent_box" id="completionBox" >

            <span style="font-size: 30px">{{support.balanceAmt|avg:support.fundraising}}</span><span style="font-size: 17px">%</span>
        </div>
        {%endwith%}
    </div>
    {% endfor %}
</div>

{% endblock %}
{% endwith %}
<script type="text/javascript">
    const allbutton=document.getElementById('all');
    const endbutton=document.getElementById('my');
    const writebutton=document.querySelector('.write_button');
    const allsupportButton = document.querySelector('.allsupport');
    const mysupportButton = document.querySelector('.mysupport');

    allButton.addEventListener('click', function(){
        allButton.style.border = '1px solid #bc67ff';
        endButton.style.border = 'none';
        writeButton.style.border = 'none';
    });
    
    endButton.addEventListener('click',function(){
        allButton.style.border = 'none';
        endButton.style.border = '1px solid #bc67ff';
        writeButton.style.border = 'none';
    });
    
    writeButton.addEventListener('click',function(){
        allButton.style.border = 'none';
        endButton.style.border = 'none';
        writeButton.style.border = '1px solid #bc67ff';
    });
    allsupportButton.addEventListener('click', function(){
        allsupportButton.style.borderBottom = '2px solid #bc67ff';
        mysupportButton.style.borderBottom = 'none';
    });

    mysupportButton.addEventListener('click', function(){
        allsupportButton.style.borderBottom = 'none';
        mysupportButton.style.borderBottom = '2px solid #bc67ff';
    });
</script>