{% extends 'base.html' %}
{%load static%}
{% with artist=artist alerts=alerts %}
{% block content %}
<div style="overflow-x:hidden">
<div style="  justify-content: row;  display: flex; ">
<img class="back" src="{% static 'images/back.png'%}" alt="이전" ></img>
<h1 class="spt_crt_h1"  style="margin-left:-30px;">서포트 시작하기</h1>
</div>
<h2 class="spt_crt_h2">서포트 정보를 작성해주세요.</h2>

<form class="register" method="post" action="{% url 'support:create_support' pk=artist.pk %}">
    {% csrf_token %}
    <input  class="title" placeholder="제목"  type="text" name="title" id="title">
    <input class="goal" placeholder="목표 모금액"  type="number" name="fundraising" id="fundraising">
  
    <input   data-placeholder="모금 종료 기간" required
    aria-required="true"
    value={startDateValue}
    className={styles.selectDay}
    onChange={StartDateValueHandler}  class="custom-date" type="datetime-local" name="deadline" id="dead">
  
    <textarea class="detail" placeholder="내용" name="body" id="body"></textarea>

    <input  class="addImg-Button"  type="file" name="image" value="{{ support.image }}" id="image">
 
    <article>
        <div  style="position: relative; border:none;">
          <input class="account" placeholder="계좌번호" type="text" name="account" id="account">
          <div class="select-wrapper " style="border:none; margin-top:10px;">
            <select class="account-Button" onclick="return false;" name="bank" value="{{ support.bank }}" id="bank">
              <option value="우리">우리</option>
              <option value="농협">농협</option>
              <option value="신한">신한</option>
              <option value="삼성">삼성</option>
            </select>
          </div>
        </div>
      </article>
      <button class="start-Button" disabled type="submit" style="margin-top:10px;">항목을 모두 작성해주세요</button>
    </form>
</div>
<script>

  /* 버튼 활성화 */
  let inputs = document.querySelectorAll("input, textarea");
  let startButton = document.querySelector(".start-Button");
  startButton.disabled = true;

  function checkInputs() {
    let allFilled = true;
    inputs.forEach(function (input) {
      if (input.value.trim() === "") {
        allFilled = false;
        return;
      }
    });

    if (allFilled) {
      startButton.disabled = false;
      startButton.style.backgroundColor = "#BC67FF";
      startButton.innerHTML = "시작";
    } else {
      startButton.disabled = true;
      startButton.style.backgroundColor = "#d9d9d9";
      startButton.innerHTML = "항목을 모두 작성해주세요";
    }
  }

  inputs.forEach(function (input) {
    input.addEventListener("input", checkInputs);
  });

//은행 선택
const btn = document.querySelector(".account-Button");
const list = document.querySelector(".account-list");

btn.addEventListener("click", function(){
btn.classList.toggle("on");
if (btn.classList.contains("on")) {
list.style.display = "block";
} else {
list.style.display = "none";
}
});

list.addEventListener("click", function(event){
if (event.target.nodeName === "BUTTON") {
btn.innerText = event.target.innerText;
btn.classList.remove("on");
list.style.display = "none";
}
});
</script>

{% endblock %}
{% endwith %}