{% extends 'support_base.html' %}
{%load static%}
{% with artist=artist alerts=alerts %}
{% block content %}
{% load custom_filters %}


<div style="margin-bottom:5px; display:flex; align-items:center;" class="support_list_category">
    <button class="allsupport" style="width:160px; margin-left:15px; font-size:20px;" onclick="location.href='{% url 'support:support_list' pk=artist.pk %}'">서포트 전체</button>
    <button class="mysupport" style="width:160px; margin-left:22px; font-size:20px;border-bottom:3px solid #000000;" onclick="location.href='{% url 'support:my_support_list' pk=artist.pk %}'">참여 서포트</button>
</div>
<div class="support_button">

    <button class="all_button" style="  border: 1px solid #bc67ff;color:#bc67ff;" onclick="location.href='{% url 'support:my_support_list' pk=artist.pk %}'">진행중</button>
    <button class="end_button" onclick="location.href='{% url 'support:my_support_list_complete' pk=artist.pk %}'">종료</button>
    <div class="tutorial-info-icon-meeting" id="tutorial-icon">
    <img
      src="{% static 'images/information.png'%}"
      alt="info"
      class="tutorial-image-meeting"
      id="tutorial-image"
    />
    <div class="tutorial-hover-box-meeting" id="myModal">
      <p>
        서포트는 아티스트에게 후원할 수 있는 서비스예요. 온 체인 블록을 이용하여 후원 내역을 안전하게 관리할 수 있어요. <br>
      💡사용방법이 낯설다면 서포트 기능을 연습해 보는건 어떠신가요?
      </p>
      <button
        class="tutorial-box-button-meeting"
        style="width: 150px; height: 40px"
        onclick="location.href='{% url 'user:tutorial_support' %}'"
      >
        연습하러 가기
      </button>
    </div>
  </div>
    <div  style="margin-left:285px; margin-top:-55px;" >
        <a href="#;" onClick="zoomIn();"><img style="width:20px; height:20px;"src="{% static 'images/zoomin.png'%}" alt="확대"></a>
          <a href="#;" onClick="zoomOut();"><img style="width:20px; height:20px;"src="{% static 'images/zoomout.png'%}" alt="축소"></a>
        </div>  
</div>

<div class="supporting" style="height: 360px; width: 375px; overflow-y: auto; overflow-x:hidden;">
    {% for support in supports %}
    <div class="support_list_box" onclick="location.href='{% url 'support:support_dtl' pk=artist.pk spt_pk=support.pk %}'">
        {%with goal=support.fundraising%}
        <div style="width: 70%;">
            <h1 class="spt_list_h1"> {{support.title}}</h1>
            <h3 class="spt_list_h3" style="width:300px"> 목표: {{support.fundraising}}원</h3>
            <h3 class="spt_list_h3"> 종료: {{support.deadline|date:"Y/m/d Ah:i"}}</h3>
            <h2 class="spt_list_h2">{{support.bank}} {{support.account}}</h2>
        </div>
        <div class="support_percent_box" id="completionBox" >


            <span style="font-size:30px;">{{support.balanceAmt|avg:support.fundraising}}</span><span style="font-size: 17px; ">%</span>

       
        </div>
        {%endwith%}
    </div>
    {% endfor %}
</div>
<button class="start-Button" style="margin-left: 27px; margin-top:20px;background: #bc67ff;  font-size: 22px;" onclick="location.href='{% url 'support:create_support' pk=artist.pk %}'">서포트 작성하기</button>

<script>
    document.addEventListener("DOMContentLoaded", function () {
      const modalIcon = document.getElementById("tutorial-icon");
      const modal = document.getElementById("myModal");
      const content = document.querySelector('.content');
      const supporting = document.querySelector('.supporting');
      const icon = document.getElementById("tutorial-image");

      modalIcon.addEventListener("click", function () {
          if (modal.style.display=="block"){
              document.body.style.overflow = 'auto';
              content.style.overflow = 'auto';
              supporting.style.overflow = 'auto';
              modal.style.display = "none";
              icon.src = "{% static 'images/information.png'%}";
          }
          else {
              document.body.style.overflow = 'hidden';
              content.style.overflow = 'hidden';
              supporting.style.overflow = 'hidden';
              modal.style.display = "block";
              icon.src = "{% static 'images/information-hover.png'%}";
          }
      });
    });
</script>
{% endblock %}
{% endwith %}
