<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>서포트 전체조회</title>
</head>
<body>
    {% include 'header.html' with artist=artist %}
    <h1>상세조회</h1>
    <h2>제목:{{support.title}}</h2>
    <p>목표모금액:{{support.fundraising}}</p>
    <p>내용:{{support.body}}</p>
    <img src=""></img>
    <p>계좌:{{support.bank}} {{support.account}}</p>
    <p>마감기한:{{support.deadline|date:"Y/m/d Ah:i"}}</p>

    {% if not support.user == request.user %}
    <button onclick="location.href='{% url 'support:create_support_form' pk=artist.pk spt_pk=support.pk %}'">모금 정보 작성하기</button>
    {% endif %}

    {% if support.user == request.user %}
    <button onclick="location.href='{% url 'support:create_support_form' pk=artist.pk spt_pk=support.pk %}'">모금 마감하기</button>
    <h2>모금자 정보</h2>
    {% for form in support_form %}
    <div style="margin-bottom:5px;">
        {{form.depositor}}<br>
        {{form.credit}}<br>
        {{form.creditTime}}<br>
        {{form.status}}<br>
    </div>
    {% endfor %}
    {% endif %}

    {% if support.status == '완료' %}
    {% endif %}

    {% include 'footer.html' with artist=artist %}
</body>
</html>