<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세</title>
</head>
<body>
    {% include 'header.html' with artist=artist %}
    <div>
        <h1>서포트 시작하기</h1>
        <p>서포트 정보를 작성해주세요.</p>
        <form method="post" action="{% url 'support:create_support' pk=artist.pk %}">
            {% csrf_token %}
            <label for="title">제목</label>
            <input type="text" name="title" id="title"><br>
            <labe for="fundraising">모금액</labe>
            <input type="number" name="fundraising" id="fundraising"><br>
            <label for="dead">마감기한</label>
            <input type="datetime-local" name="deadline" id="dead"><br>
            <label for="body">내용</label>
            <textarea name="body" id="body"></textarea><br>
            <label for="image">이미지</label>
            <input type="file" name="image" value="{{ support.image }}" id="image"><br>
            <label for="account"></label>
            <input type="text" name="account" id="account"><br>
            <label for="bank"></label>
            <select name="bank" value="{{ support.bank }}" id="bank">
                <option value="농협">농협</option>
                <option value="우리">우리</option>
            </select><br>
                <button type="submit">작성하기</button>
            </form>
    </div>
    {% include 'footer.html' with artist=artist %}
</body>
</html>
