{% extends 'base.html' %}
{% with artist=artist alerts=alerts %}
{% block content %}
{% load custom_filters %}

<div style="margin-bottom:5px;" class="support_list_category">
    <button class="allsupport" onclick="location.href='{% url 'support:support_list' pk=artist.pk %}'">서포트 전체</button>
    <button class="mysupport" style="width:180px;" onclick="location.href='{% url 'support:my_support_list' pk=artist.pk %}'">내가 참여한 서포트</button>
</div>
<div class="support_button">
    <button class="all_button" onclick="location.href='{% url 'support:support_list' pk=artist.pk %}'">진행중</button>
    <button class="end_button" onclick="location.href='{% url 'support:support_list_complete' pk=artist.pk %}'">종료</button>
    <button class="write_button" onclick="location.href='{% url 'support:create_support' pk=artist.pk %}'">작성</button>
</div>
<div class="supporting">
    {% for support in supports %}
    <div class="support_list_box" onclick="location.href='{% url 'support:support_dtl' pk=artist.pk spt_pk=support.pk %}'">
        {%with goal=support.fundraising%}
        <div style="width: 70%;">
            <h1 class="spt_list_h1"> {{support.title}}</h1>
            <h3 class="spt_list_h3" style="width:300px"> 목표: {{support.fundraising}}</h3>
            <h3 class="spt_list_h3"> 종료: {{support.deadline|date:"Y/m/d Ah:i"}}</h3>
            <h2 class="spt_list_h2">{{support.bank}} {{support.account}}</h2>
        </div>
        <div class="support_percent_box" id="completionBox" >

            {{support.balanceAmt|avg:support.fundraising}}<span style="font-size: 17px">%</span>
        </div>
        {%endwith%}
    </div>
    {% endfor %}
</div>

{% endblock %}
{% endwith %}
