{% load static %}
<!DOCTYPE html>

<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
      <link rel="stylesheet" href="{% static 'css/base.css' %}" />
      <title>중앙톤 프로젝트</title>
 <style>
  body {
    background-color: rgb(230, 230, 230);
    height: 100%;
    margin: 0;
  }
  .container {
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
    width: 375px;
    height: 812px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.25);
    flex-direction: column; 

  }
 </style>
    {% include 'head.html' %}
   </head>
  <body>

      <div class="contain">
      <div class="content" style="width: 375px; margin:0 auto">

          {% include 'header.html' %}
          {% block content %}
          {% endblock %}
          <div>{% include 'footer.html' %}</div>
      </div>
  </body>
</html>