{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="{% static 'css/base_meeting.css' %}" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}?after" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/meeting_list.css' %}" />
    <link rel="stylesheet" href="{% static 'css/meeting_detail.css' %}" />
    <link rel="stylesheet" href="{% static 'css/writed_meeting_list.css' %}" />
    <link rel="stylesheet" href="{% static 'css/meeting_completed_list.css' %}" />
    <link rel="stylesheet" href="{% static 'css/applyed_meeting_list.css' %}" />
    
      


      <title>중앙톤 프로젝트</title>
    {% include 'head.html' %}
   </head>
  <body>
      <div class="container" >
          {% include 'header.html' %}
          <div class="content">
              {% block content %}
              {% endblock %}
          </div>
         {% include 'footer.html' %}
      </div>

  </body>
</html>