{% load static %}
      <div class="header">
         <form
            method="get"
            action="{% url 'artist:subscribe_list' category='none' %}"
          >
            {% csrf_token %}
            <button class="btn-select" type="submit">
              {{ artist.artistName }}
            </button>
            
          </form>
    <div class="icon">
        <form
          method="post"
          action="{% url 'userWorking:show_userWorking' pk=artist.pk %}"
        >
          {% csrf_token %}
          <button type="submit">
            <link href="{% static 'images/user.png'%}">
            <img class="user" src="{% static 'images/user.png'%}" alt="이용행보"  ></img>
          </button>
        </form>
        <button><img class="alram" src="{% static 'images/alram.png'%}" alt="알람" ></img></button>
      </div>
    </div>
{% comment %}
        {% for alert in alerts %}
        <div>
          <div>{{ alert.artist.artistName }}</div>
          <div>{{ alert.message }}</div>
          {% if alert.openChatURL %}
          <div>{{ alert.openChatURL }}</div>
          {% endif %}
          <div>{{ alert.regTime|date:"Y.m.d H:i" }}</div>
          <div>{{ alert.is_read }}</div>
         
        </div>
        {% endfor %} {% endcomment %}
        <a href="#;" onClick="zoomIn();">확대</a>		
        <a href="#;" onClick="zoomOut();">축소</a>		
        <a href="#;" onClick="zoomReset();">원래</a>		
        <script type="text/javascript">
          var nowZoom = 100;
          
          function zoomOut(){                                                                       //화면크기축소
            nowZoom = nowZoom - 10;
          
            if(nowZoom <= 70) nowZoom = 70;            //화면크기 최대 축소율 70% 
            zooms();
          }
          
          
          function zoomIn(){                                                                         //화면크기확대
            nowZoom = nowZoom + 20;
          
            if(nowZoom >=200) nowZoom = 200;          //화면크기 최대 확대율 200%
            zooms();
          }
          
          
          function zoomReset(){                                                                   //원래 화면크기로 되돌아가기
            nowZoom = 100;
            zooms();
          }
          
          
          function zooms(){
            document.body.style.zoom = nowZoom + '%';
          
            if(nowZoom == 70){
              alert ("더 이상 축소할 수 없습니다.");                       //화면 축소율이 70% 이하일 경우 경고창
            }
          
            if(nowZoom == 200){
              alert ("더 이상 확대할 수 없습니다.");                       //화면 확대율이 200% 이상일 경우 경고창
            }
          }
          </script>