{% load static %}
      <div class="header">
         <form
            method="get"
            action="{% url 'artist:subscribe_list' category='none' %}"
          >
            {% csrf_token %}
            <button class="btn-select" type="submit">
              {{ artist.artistName }}
            </button>
          </form>
    <div class="icon">
        <form
          method="post"
          action="{% url 'userWorking:show_userWorking' pk=artist.pk %}"
        >
          {% csrf_token %}
          <button type="submit">
            <link href="{% static 'images/user.png'%}">
            <img class="user" src="{% static 'images/user.png'%}" alt="이용행보"  ></img>
          </button>
        </form>
        <button><img class="alram" src="{% static 'images/alram.png'%}" alt="알람" ></img></button>
      </div>
        {% for alert in alerts %}
        <div>
          <div>{{ alert.artist.artistName }}</div>
          <div>{{ alert.message }}</div>
          {% if alert.openChatURL %}
          <div>{{ alert.openChatURL }}</div>
          {% endif %}
          <div>{{ alert.regTime }}</div>
          <div>{{ alert.is_read }}</div>
         
        </div>
        {% endfor %}
      
      </div>

