{% load static %}

<div class="footer">
    <div class="singer" onclick="location.href='{% url 'artist:select_artist' pk=artist.pk %}'">
        <img id="singer-img" src="{% static 'images/purplesinger.png'%}" alt="가수 이미지"></img>
      <div class="label" style="color:#BC67FF">내 가수</div>
    </div>
    <div class="list"  onclick="location.href='{% url 'post:post_list' artist_pk=artist.pk category='가수' %}'">
        <img id="list-img" src="{% static 'images/list.png'%}" alt="게시글 이미지"></img>
        <div class="label">게시글</div>
    </div>
    <div class="group"  onclick="location.href='{% url 'meeting:MeetingList' artist_id=artist.id %}'">
        <img id="group-img" style="width:58px; height:58px; margin-top:-6px;"src="{% static 'images/group.png'%}" alt="그룹 이미지" ></img>
      <div class="label" style="margin-top:-1px;" >모임</div>
    </div>
    <div class="support" onclick="location.href='{% url 'support:support_list' pk=artist.pk %}'">
        <img id="support-img" style="width:60px; height:60px;margin-top:-5px;"src="{% static 'images/support.png'%}" alt="서포트 이미지" ></img>
      <div class="label"style="margin-top:-3px;">서포트</div>
    </div>

  </div>

<script>
    //하단바 아이콘 변경
    function handleImageHover(elementId, newImageSrc) {
      const imgElement = document.getElementById(elementId);
      imgElement.src = "{% static 'images/' %}" + newImageSrc;
  }

 
  const listImg = document.getElementById("list-img");
  const groupImg = document.getElementById("group-img");
  const supportImg = document.getElementById("support-img");


  listImg.addEventListener("mouseenter", function () {
    handleImageHover("list-img", "purplelist.png");
  });
  
  listImg.addEventListener("mouseleave", function () {
    handleImageHover("list-img", "list.png");
  });
  
  groupImg.addEventListener("mouseenter", function () {
    handleImageHover("group-img", "purplegroup.png");
  });
  
  groupImg.addEventListener("mouseleave", function () {
    handleImageHover("group-img", "group.png");
  });

  supportImg.addEventListener("mouseenter", function () {
    handleImageHover("support-img", "purplesupport.png");
  });

  supportImg.addEventListener("mouseleave", function () {
    handleImageHover("support-img", "support.png");
  });

//하단바 h3 색상 변경


document.getElementById("list-img").addEventListener("mouseover", function () {
document.querySelector(".list .label").classList.add("colored");
});

document.getElementById("list-img").addEventListener("mouseout", function () {
document.querySelector(".list .label").classList.remove("colored");
});

document.getElementById("group-img").addEventListener("mouseover", function () {
document.querySelector(".group .label").classList.add("colored");
});

document.getElementById("group-img").addEventListener("mouseout", function () {
document.querySelector(".group .label").classList.remove("colored");
});


document.getElementById("support-img").addEventListener("mouseover", function () {
  document.querySelector(".support .label").classList.add("colored");
  });

  document.getElementById("support-img").addEventListener("mouseout", function () {
  document.querySelector(".support .label").classList.remove("colored");
  });
  
</script>
