<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<button>  <a class="button" href="{% url 'artist:artist_list' category='none' %}">전체 튜토리얼 진행</a></button>
<button>  <a class="button" href="{% url 'artist:artist_list' category='none' %}">아티스트 선택</a></button>
<button>  <a class="button" href="{% url 'artist:artist_list' category='none' %}">모임참여</a></button>
<button>  <a class="button" href="{% url 'artist:artist_list' category='none' %}">모임 작성, 보호자 </a></button>
<button>  <a class="button" href="{% url 'artist:artist_list' category='none' %}">서포트 참여</a></button>
<button>  <a class="button" href="{% url 'artist:artist_list' category='none' %}">서포트 작성</a></button>

</body>
</html>