{% extends 'base_artistlist.html' %}
{% block content %}

    <h2 class="page-title">나의 아티스트 선택하기</h2>
    <div class="artist-buttons">
        <form method="post" action="{% url 'artist:artist_list' category='KPOP' %}">
            {% csrf_token %}
            <button type="submit"
                class="artist-btn {% if selected_category == 'KPOP' %}selected{% endif %}">K-POP</button>
        </form>

        <form method="post" action="{% url 'artist:artist_list' category='트로트' %}">
            {% csrf_token %}
            <button type="submit"
                class="artist-btn {% if selected_category == '트로트' %}selected{% endif %}">트로트</button>
        </form>

        <form method="post" action="{% url 'artist:artist_list' category='발라드' %}">
            {% csrf_token %}
            <button type="submit"
                class="artist-btn {% if selected_category == '발라드' %}selected{% endif %}">발라드</button>
        </form>

        <form method="post" action="{% url 'artist:artist_list' category='기타' %}">
            {% csrf_token %}
            <button type="submit" 
            class="artist-btn {% if selected_category == '기타' %}selected{% endif %}">기타</button>
        </form>
    </div>

    <div class="artist-list">
        {% for artist in artists %}
        <form method="post" action="{% url 'artist:select_artist' pk=artist.pk %}">
            {% csrf_token %}
            <button type="submit">
                <div class="image-wrapper">
                    <img src="{{ artist.artistImage.url }}" >
                </div>
                <div class="artist-name">{{ artist.artistName }}</div>
            </button>
        </form>
        {% endfor %}
    </div>
    
    <script>
        const artistButtons = document.querySelectorAll('.artist-btn');

        artistButtons.forEach(button => {
            button.addEventListener('click', () => {
                artistButtons.forEach(btn => btn.classList.remove('selected'));
                button.classList.add('selected');
            });
        });
    </script>

{% endblock %}