{% extends 'base_artistlist.html' %}
{% block content %}


          <!-- 페이지 제목 추가 -->
          <h2 class="page-title">구독한 아티스트 목록</h2>

        <div class="artist-buttons">
            <form method="post" action="{% url 'artist:subscribe_list' category='KPOP' %}">
                {% csrf_token %}
                <button type="submit">K-POP</button>
            </form>

            <form method="post" action="{% url 'artist:subscribe_list' category='트로트' %}">
                {% csrf_token %}
                <button type="submit">트로트</button>
            </form>

            <form method="post" action="{% url 'artist:subscribe_list' category='발라드' %}">
                {% csrf_token %}
                <button type="submit">발라드</button>
            </form>

            <form method="post" action="{% url 'artist:subscribe_list' category='기타' %}">
                {% csrf_token %}
                <button type="submit">기타</button>
            </form>
        </div>

        <div class="artist-list">
            {% for artist in artists %}
                <form method="post" action="{% url 'artist:select_artist' pk=artist.pk %}">
                    {% csrf_token %}
                    <button type="submit">
                        <div class="image-wrapper">
                            <img src="{{ artist.artistImage.url }}" width="100" height="100">
                        </div>
                        <div class="artist-name">{{ artist.artistName }}</div>
                    </button>
                </form>
                {% endfor %}
            <form method="post" action="{% url 'artist:artist_list' category='none' %}">
                {% csrf_token %}
                <button type="submit" class="find-another-artist">다른 아티스트 찾으러 가기</button>
            </form>
           
        </div>
    </div>
</body>
</html>
{% endblock %}
