{% extends 'base.html' %} 
{% with artist=artist alerts=alerts %} 
{% block content %}

<div class="support_list_category">
  <button
    class="allsupport"
    type="submit"
    onclick="location.href='{% url 'post:post_list' artist_pk=artist.pk category='가수' %}'"
    style="width:160px;font-weight: 1000;margin-left: 15px;"
    >
    아티스트 이야기
  </button>
  <button
    class="mysupport"
    type="submit"
    onclick="location.href='{% url 'post:post_list' artist_pk=artist.pk category='자유' %}'"
    style="width:160px;font-weight: 1000;margin-left: 15px;"
    >
    일상 이야기
  </button>
</div>

<div class="post-list-container">
  {% for post in posts %}
  <div class="post-list">
    <a class="post-title" style=" font-size: 20px;" href="{% url 'post:post_detail' pk=post.pk%}"
      >{{ post.title }}</a
    >
    {% if post.image %}
    <img class="post-img" src="{{ post.image.url }}" />
    {% endif %}
    <div style="display: flex; position: row">
      <h2 class="post-name">{{ post.author.userName }}</h2>
      <h2 class="post-time">{{ post.regTime|date:"Y.m.d H:i" }}</h2>
    </div>
  </div>
  {% endfor %}
</div>
<form method="get" action="{% url 'post:create_post' artist_pk=artist.pk %}">
  {% csrf_token %}
  <button class="post-button" type="submit" style="top:500px;" >
    게시글 작성하기
  </button>
</form>
{% endblock %}
 {% endwith %}
