{% extends 'base.html' %}
{% with artist=artist alerts=alerts %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세</title>
</head>
<body>
    <div>{{ post.category }}</div>
    <div>{{ post.title }}</div>
    <div>{{ post.contents }}</div>
    <div>{{ post.author.userName }}</div>
    <div>{{ post.regTime }}</div>
    {% if post.image %}
        <img src="{{ post.image.url }}" width="150" height="100">
    {% endif %}
    <hr>
    {% for comment in comments %}
        {% if request.user == comment.author %}
            <form method="get" action="{% url 'post:delete_comment' pk=comment.pk %}">
                {% csrf_token %}
                <button type="submit">삭제</button>
            </form>
        {% endif %}

        <div>{{ comment.contents }}</div>
        <div>{{ comment.author.userName }}</div>
        <div>{{ comment.regTime }}</div>
        <hr>
    {% endfor %}

    <div>댓글 작성하기</div>
    <form method="post" action="{% url 'post:create_comment' pk=post.pk %}">
        {% csrf_token %}
        <input type="text" name="contents" value="{{ comment.contents }}">
        <button type="submit">댓글달기</button>
    </form>
</body>
</html>
{% endblock %}
{% endwith %}