{% extends 'base.html' %}
{% with artist=artist alerts=alerts %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 전체 조회</title>
</head>
<body>
    <form method="post" action="{% url 'post:post_list' artist_pk=artist.pk category='가수' %}">
        {% csrf_token %}
        <button type="submit">아티스트 게시판</button>
    </form>

    <form method="post" action="{% url 'post:post_list' artist_pk=artist.pk category='자유' %}">
        {% csrf_token %}
        <button type="submit">일상 게시판</button>
    </form>


    <form method="get" action="{% url 'post:create_post' artist_pk=artist.pk %}">
        {% csrf_token %}
        <button type="submit">게시글 작성</button>
    </form>
    <hr>
    {% for post in posts %}
        {% if request.user == post.author %}
            <form method="get" action="{% url 'post:edit_post' pk=post.pk %}">
                {% csrf_token %}
                <button type="submit">수정</button>
            </form>

            <form method="get" action="{% url 'post:delete_post' pk=post.pk %}">
                {% csrf_token %}
                <button type="submit">삭제</button>
            </form>
        {% endif %}

        <a href="{% url 'post:post_detail' pk=post.pk%}">{{ post.title }}</a>
        {% if post.image %}
            <img src="{{ post.image.url }}" width="150" height="100">
        {% endif %}
        {{ post.author.userName }}
        {{ post.regTime|date:"Y.m.d H:i" }}
        <hr>
    </form>
    {% endfor %}
</body>
</html>
{% endblock %}
{% endwith %}