{% extends 'list_base.html' %}
{% load static %}
{% with artist=post.artist alerts=alerts %}
{% block content %}
<div style="  justify-content:row;  display: flex; ">
  <img class="back" src="{% static 'images/back.png'%}" alt="이전" onclick="goBack()"></img>
  <h1 class="post_dtl_h1" style="position: sticky;
    top: 0;
    left: 50%;
    transform: translateX(-50%);">게시판</h1>
</div>
<div class="post-dtl-container">
  <div style="word-break: break-all; height: auto;">
    <div class="post-dtl-title">제목:{{ post.title }}</div>
</div>
        <div class="post-dtl-name">{{ post.author.userName }}</div>
   
    <div style="display: flex; position: row;  ">
      <div class="post-dtl-regTime" >{{ post.regTime|date:"Y.m.d H:i" }}</div>
      {% if request.user == post.author %}
      <form method="get" action="{% url 'post:edit_post' pk=post.pk %}">
        {% csrf_token %}
        <button class="post-modify" ]type="submit">수정</button>
      </form>

      <form method="get" action="{% url 'post:delete_post' pk=post.pk %}">
        {% csrf_token %}
        <button class="post-delete" type="submit" style="margin-left: 3px">
          삭제
        </button>
      </form>
      {% endif %}
    </div>
    
    <div class="post-dtl-line"></div>
        <div class="post-dtl-contents">{{ post.contents }}</div>

    {% if post.image %}
    <div class="post-dtl-img-container">
      <img class="post-dtl-img" src="{{ post.image.url }}" alt="이미지">
    </div>
    {% endif %}

</div>


<div class="post-comment-container">
  <form method="post" action="{% url 'post:create_comment' pk=post.pk %}">
    {% csrf_token %}
   
    <div style="display: flex; margin-left:2px;  ">
        <input class="post-dtl-input" type="text" name="contents" value="{{ comment.contents }}" placeholder="클릭하여 댓글 작성하기">
        <button class="post-dtl-button" type="submit">작성</button>
    </div>
    
  </form>
    {% for comment in comments %}
    <div class="post-comment-box" style="height:auto; word-break:all-break;">
        <div style="display: flex; position: row; margin: 5px 0px 0px 20px;">
            <div>{{ comment.author.userName }}</div>
            <div style="color: #858585; margin-left: 5px;">{{ comment.regTime|date:"Y.m.d H:i" }}</div>
            {% if request.user == comment.author %}
            <form method="get" action="{% url 'post:delete_comment' pk=comment.pk %}">
                {% csrf_token %}
                <button type="submit" style="color: red; margin-left: 30px; font-size:16px;">삭제하기</button>
            </form>
            {% endif %}
        </div>
        <div style="font-size: 20px; margin: -2px 0px 0px 20px; word-break: break-all;">{{ comment.contents }}</div>
    </div>
    {% endfor %}
</div>


<script>
  function goBack() {
    window.history.back();
    }

        </script>

{% endblock %}
{% endwith %}
