<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>나의 활동 내역</title>
</head>
<body>
    {% include 'header.html' with artist=artist %}

    <div>구독 시작일: {{ userWorking.startLike }}</div>
    <div>게시글 작성 횟수: {{ userWorking.postRecord }}</div>
    <div>댓글 작성 횟수: {{ userWorking.commentRecord }}</div>
    <div>모임 주최 횟수: {{ userWorking.meetingHost }}</div>
    <div>모임 참여 횟수: {{ userWorking.meetingGuest }}</div>
    <div>서포트 주최 횟수: {{ userWorking.supportHost }}</div>
    <div>서포트 참여 횟수: {{ userWorking.supportGuest }}</div>

    {% include 'footer.html' with artist=artist %}

</body>
</html>