<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>나의 활동 내역</title>
</head>
<body>
    {% include 'header.html' with artist=artist %}

    <div>{{ userWorking.startLike }}</div>
    <div>{{ userWorking.postRecord }}</div>
    <div>{{ userWorking.commentRecord }}</div>
    <div>{{ userWorking.meetingHost }}</div>
    <div>{{ userWorking.meetingGuest }}</div>
    <div>{{ userWorking.supportHost }}</div>
    <div>{{ userWorking.supportGuest }}</div>

    {% include 'footer.html' with artist=artist %}

</body>
</html>