<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>나의 활동 내역</title>
    <style>
        h1 {
            /* 나의 활동 내역 */

            position: absolute;
            width: 247px;
            height: 30px;
            left: 58px;
            top: 98px;
            
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            
            color: #000000;
            
            
          }
    </style>
</head>
<body>
    <div class="container">
        <h1>나의 활동 내역</h1>
        {% include 'base.html' with artist=artist %}
    <img src="{{ userWorking.artist.artistImage.url }}" width="150" height="100">
    <div>구독 시작일: {{ userWorking.startDay }}</div>
    <div>지금까지 {{ userWorking.likeDays }}일 동안 활동 중</div>
    <div>게시글 작성 횟수: {{ userWorking.postRecord }}</div>
    <div>댓글 작성 횟수: {{ userWorking.commentRecord }}</div>
    <div>모임 주최 횟수: {{ userWorking.meetingHost }}</div>
    <div>모임 참여 횟수: {{ userWorking.meetingGuest }}</div>
    <div>서포트 주최 횟수: {{ userWorking.supportHost }}</div>
    <div>서포트 참여 횟수: {{ userWorking.supportGuest }}</div>
    </div>

</body>
</html>