{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

    <link rel="stylesheet" href="{% static 'css/base_meeting.css' %}" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/meeting_list.css' %}" />
    <link rel="stylesheet" href="{% static 'css/meeting_detail.css' %}?after" />
    <link rel="stylesheet" href="{% static 'css/writed_meeting_list.css' %}" />
    <link rel="stylesheet" href="{% static 'css/meeting_completed_list.css' %}" />
    <link rel="stylesheet" href="{% static 'css/applyed_meeting_list.css' %}" />


    <link rel="stylesheet" href="{% static 'css/support_list.css' %}?after" />
    <link rel="stylesheet" href="{% static 'css/support_form.css' %}?after" />

    <link rel="stylesheet" href="{% static 'css/artist_info.css' %}?after" />



      <title>별너울</title>
    {% include 'head.html' %}
   </head>
  <body>
 <div class="container" >
          <div class="header">
        <form>
          <button class="btn-select" type="submit">
            &nbsp; &nbsp;임영웅 •••
          </button>
        </form>
        <div class="icon">
          <form>
            <button type="submit">
              <img
                class="user"
                src="{% static 'images/user.png'%}"
                alt="이용행보"
              />
            </button>
          </form>
          <form>
            <button id="alarm-button">
              <img
                class="alarm"
                src="{% static 'images/alarm.png'%}"
                alt="알람"
              />
            </button>
          </form>
        </div>
      </div>

          <div class="content">
<div style="margin-bottom: 5px; display: flex; align-items: center;" class="support_list_category">
    <button class ="allsupport" style="width:160px; margin-left:15px; font-size:20px;" >모임 전체</button>
    <button class ="mysupport" style="width:160px; margin-left:24px; font-size:20px;border-bottom:3px solid #000000;" >나의 모임</button>
</div>

<div class="meeting-button">
    <button >작성</button>
    <button >신청</button>
    <button style="  border: 1px solid #bc67ff;color:#bc67ff;" >보호자</button>
    <div  style="margin-left:285px; margin-top:-25px;" >
        <a href="#;" onClick="zoomIn();"><img style="width:20px; height:20px;"src="{% static 'images/zoomin.png'%}" alt="확대"></a>
        <a href="#;" onClick="zoomOut();"><img style="width:20px; height:20px;"src="{% static 'images/zoomout.png'%}" alt="축소"></a>
    </div>
</div>
<div class="content">
<div class="meeting-search-form">
    <label for="searchInput" style="font-size:17px;">보호자 검색:</label>
    <input type="text" id="searchInput" name="search" placeholder="참석자명을 검색하세요"style="text-indent:0px;">
    <button type="submit">검색</button>
</div>

<div class="meeting-writed">
                    <div class="writed-lost">
                        <h2>내가 작성한 모임명1</h2>
                        <div class="member-info">
                            <h3>이멋사</h3>
                            <p>01012345678</p>
                        </div>
                    </div>
                      <div class="writed-lost">
                        <h2>내가 작성한 모임명2</h2>
                        <div class="member-info">
                            <h3>김멋사</h3>
                            <p>01012345678</p>
                        </div>
                    </div>

</div>
    <div class="buttons">
    <button onclick="location.href='{% url 'user:tutorial' %}'">돌아가기</button>
</div>
    </div>



  <script>
    //하단바 아이콘 변경
    function handleImageHover(elementId, newImageSrc) {
      const imgElement = document.getElementById(elementId);
      imgElement.src = "{% static 'images/' %}" + newImageSrc;
  }

  const singerImg = document.getElementById("singer-img");
  const listImg = document.getElementById("list-img");

  const supportImg = document.getElementById("support-img");


  singerImg.addEventListener("mouseenter", function () {
    handleImageHover("singer-img", "purplesinger.png");
  });

  singerImg.addEventListener("mouseleave", function () {
    handleImageHover("singer-img", "singer.png");
  });

  listImg.addEventListener("mouseenter", function () {
    handleImageHover("list-img", "purplelist.png");
  });

  listImg.addEventListener("mouseleave", function () {
    handleImageHover("list-img", "list.png");
  });



  supportImg.addEventListener("mouseenter", function () {
    handleImageHover("support-img", "purplesupport.png");
  });

  supportImg.addEventListener("mouseleave", function () {
    handleImageHover("support-img", "support.png");
  });

//하단바 h3 색상 변경
document.getElementById("singer-img").addEventListener("mouseover", function () {
  document.querySelector(".singer .label").classList.add("colored");
});

document.getElementById("singer-img").addEventListener("mouseout", function () {
document.querySelector(".singer .label").classList.remove("colored");
});

document.getElementById("list-img").addEventListener("mouseover", function () {
document.querySelector(".list .label").classList.add("colored");
});

document.getElementById("list-img").addEventListener("mouseout", function () {
document.querySelector(".list .label").classList.remove("colored");
});


document.getElementById("support-img").addEventListener("mouseover", function () {
  document.querySelector(".support .label").classList.add("colored");
  });

  document.getElementById("support-img").addEventListener("mouseout", function () {
  document.querySelector(".support .label").classList.remove("colored");
  });

</script>

      </div>
<div class="footer">
    <div class="singer">
        <img id="singer-img" src="{% static 'images/singer.png'%}" alt="가수 이미지"></img>
      <div class="label" >내 가수</div>
    </div>
    <div class="list">
        <img id="list-img" src="{% static 'images/list.png'%}" alt="게시글 이미지"></img>
        <div class="label">게시판</div>
    </div>
    <div class="group" >
        <img id="group-img" style="width:58px; height:58px; margin-top:-6px;"src="{% static 'images/purplegroup.png'%}" alt="그룹 이미지" ></img>
      <div class="label" style="margin-top:-1px;color:#BC67FF">모임</div>
    </div>
    <div class="support">
        <img id="support-img" style="width:60px; height:60px;margin-top:-5px;margin-left:-14px;"src="{% static 'images/support.png'%}" alt="서포트 이미지" ></img>
      <div class="label"style="margin-top:-3px;margin-left:-15px;">서포트</div>
    </div>

  </div>
  </body>
</html>