{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

<link rel="stylesheet" href="{% static 'css/base_meeting.css' %}" />
<link rel="stylesheet" href="{% static 'css/header.css' %}" />
<link rel="stylesheet" href="{% static 'css/footer.css' %}" />
<link rel="stylesheet" href="{% static 'css/meeting_list.css' %}" />
<link rel="stylesheet" href="{% static 'css/meeting_detail.css' %}?after" />
<link rel="stylesheet" href="{% static 'css/writed_meeting_list.css' %}" />
<link rel="stylesheet" href="{% static 'css/meeting_completed_list.css' %}" />
<link rel="stylesheet" href="{% static 'css/applyed_meeting_list.css' %}" />


<link rel="stylesheet" href="{% static 'css/support_list.css' %}?after" />
<link rel="stylesheet" href="{% static 'css/support_form.css' %}?after" />

<link rel="stylesheet" href="{% static 'css/artist_info.css' %}?after" />



    <title>별너울</title>
{% include 'head.html' %}
<style>
    .dark-background {
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      top: 0;
      left: 0;
      width: 375px;
      height: 100vh;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #hidden-pointer {
        display: none;
        position: absolute;
        animation: motion 1s linear infinite alternate;
      }
    
      @keyframes motion {
        0% {
          top: 82%;
        }
        100% {
          top: 84%;
        }
      }

 
  </style>
</head>
<body>
    <div class="container" style="position:relative">
        <div class="dark-background" id="popup" style="display:none;">
        </div>
    <div class="header">
        <img id="hidden-img" src="{% static 'tutorial/meet_step2_1.png' %}"
        style="  display: none; position: absolute; z-index: 9999; top: 20%; left: 50%; transform: translate(-50%, -50%);"
        alt="이미지">
        <img id="hidden-img2" src="{% static 'tutorial/meet_step2_2.png' %}"
        style="  display: none; position: absolute; z-index: 9999; top: 20%; left: 50%; transform: translate(-50%, -50%);"
        alt="이미지">
        <img id="hand" src="{% static 'tutorial/hand.png' %}"
        style=" width: 70px; display: none; position: absolute; z-index: 18887; left: 70%; transform: translate(-50%, -50%);"
        alt="이미지">
    <form>
        <button class="btn-select" type="submit">
        &nbsp; &nbsp;임영웅 ••• 
        </button>
    </form>
    <div class="icon">
        <form>
        <button type="submit">
            <img
            class="user"
            src="{% static 'images/user.png'%}"
            alt="이용행보"
            />
        </button>
        </form>
        <form>
        <button id="alarm-button">
            <img
            class="alarm"
            src="{% static 'images/alarm.png'%}"
            alt="알람"
            />
        </button>
        </form>
    </div>
    </div>
    
<div class="content">
    <img class="back" src="{% static 'images/back.png'%}" alt="이전" onclick="goBack()"></img>
<h2 class="detail-title-meeting">모임명 : 임영웅 생일 카페</h2>

<div class="meeting-image">
<img src= "{% static 'images/hero.png'%}">
</div>

    <div class="custom-box2">
        <div class="meetdate"> <strong>일시</strong> 2023/8/30</div>
        <div class="meetlocation"> <strong>장소</strong> 서울 잠실역 공공카페</div>
        <div class="age"> <strong>나이제한</strong> 40세 이상</div>
        <div class="peoplename"> <strong>모집인원</strong> 5명</div>
        <div class="meeting-body"> <strong>내용</strong> 모여서 재미나게 놀 사람 구해요</div>
        <div class="meetingstate"> <strong>모임 상태</strong> 모집중</div>
    </div>
<div class="buttons">
    <button class="submit-button" type="button" onclick="showNextButton()">신청하기</button>
    <button id="button2" class="done-button" type="button" style="display: none; box-sizing: border-box;
    width: 300px;
    height: 55px;
    background-color: #b3b1b0;
    border: 1px solid #b3b1b0;
    border-radius: 30px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin: 20px 5px 5px 5px;
    " onclick="location.href='{% url 'user:tutorial_meeting' %}'">이미 신청한 모임</button>
    <!-- <button id="button3" class="back-button" type="button" style="display: none;box-sizing: border-box;
    width: 300px;
    height: 55px;
    background-color: #bc67ff;
    border: 1px solid #b3b1b0;
    border-radius: 30px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin: 20px 5px 5px 5px;" onclick="location.href='{% url 'user:tutorial_meeting' %}'">돌아가기</button> -->
</div>
    </div>
<div class="footer">
<div class="singer" >
    <img id="singer-img" src="{% static 'images/singer.png'%}" alt="가수 이미지"></img>
    <div class="label" >내 가수</div>
</div>
<div class="list">
    <img id="list-img" src="{% static 'images/list.png'%}" alt="게시글 이미지"></img>
    <div class="label">게시판</div>
</div>
<div class="group" >
    <img id="group-img" style="width:58px; height:58px; margin-top:-6px;"src="{% static 'images/purplegroup.png'%}" alt="그룹 이미지" ></img>
    <div class="label" style="margin-top:-1px;color:#BC67FF">모임</div>
</div>
<div class="support">
    <img id="support-img" style="width:60px; height:60px;margin-top:-5px;margin-left:-14px;"src="{% static 'images/support.png'%}" alt="서포트 이미지" ></img>
    <div class="label"style="margin-top:-3px;margin-left:-15px;">서포트</div>
</div>

</div>
<script>
function goBack() {
window.history.back();
}
</script>

<script>
const buttons = document.querySelectorAll('.submit-button');
let currentIndex = 0;

function showNextButton() {
  if (currentIndex < buttons.length - 1) {
    buttons[currentIndex].style.display = 'none';
    currentIndex++;
    buttons[currentIndex].style.display = 'block';
  }
}
    const content = document.querySelector('.content');
    const popup = document.getElementById("popup"); //배경 어둡게 
    const supportbox = document.querySelector('.custom-box2'); //보여주고 싶은 영역
    const button = document.querySelector('.submit-button'); //보여주고 싶은 영역
    const button2 = document.querySelector('.done-button'); //보여주고 싶은 영역
    const button3 = document.querySelector('.back-button'); //보여주고 싶은 영역
    const hiddenImg = document.getElementById("hidden-img"); // 이미지 요소 추가
    const hiddenImg2 = document.getElementById("hidden-img2"); // 이미지 요소 추가
    const hand = document.getElementById("hand"); // 이미지 요소 추가
    const initialScrollPosition = content.scrollTop;


    setTimeout(function () { //2초 뒤에 배경 어둡게 + 영역 보여짐
        popup.style.display = "block";
        supportbox.style.zIndex = "9000";
        button.style.zIndex = "9000";
        content.style.overflow = "hidden";
    // setTimeout(function () {
    //     popup.style.display = "none";
    //     supportbox.style.zIndex = "1";
    // }, 10000);
    }, 1000);

    setTimeout(function () {
        popup.style.display = "block";
        supportbox.style.zIndex = "9000";
        hiddenImg.style.display = "block"; // 이미지 보여주기
        content.scrollTop = content.scrollHeight;
        content.style.overflow = "hidden";
        hand.style.display = "block";  
        hand.style.animation = "motion 1s linear infinite alternate";
    //   setTimeout(function () {
    //     popup.style.display = "none";
    //     supportbox.style.zIndex = "1";
    // }, 10000);
    }, 1000);

 
    button.addEventListener('click', function () {
    button.style.display = "none"; // 신청하기 버튼 안보이게
    supportbox.style.zIndex = "1"; // 서포트 박스 뒤로가게
    hiddenImg.style.display = "none"; // 신청하기 버튼 안보이게
    hiddenImg2.style.display = "block"; // 신청하기 버튼 안보이게
    hiddenImg2.style.top = "55%"; // 이미지의 top 50%로 변경해서 내려오게 만들기
    button2.style.display = "block"; // "이미 신청한 모임" 버튼 표시하기
    button2.style.zIndex = "9000"; 
}, false);


//     button2.addEventListener('click', function () {
//     button2.style.display = "none"; // 신청하기 버튼 안보이게
//     supportbox.style.zIndex = "1"; // 서포트 박스 뒤로가게
//     hiddenImg.style.top = "50%"; // 이미지의 top 50%로 변경해서 내려오게 만들기
//     button3.style.display = "block"; // "뒤로가기" 버튼 표시하기
//     button3.style.zIndex = "9000"; 
// }, false);


</script>
</body>
</html>