
body {
        margin: 0;
}

@media (max-width:375px) {

    /* .header-container.desktop {
        display: none;
    }
    .content-container.desktop {
        display: none;
    } */
    .header-container.mobile{
        top:0;
        position:fixed;
        width:39%;

        border-bottom: 0.2rem solid rgb(214, 214, 214);
        background-color: white;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 0.4rem 0;
    }
    .header-container .insta-logo {
        width: 25%;
    }
    .header-container .header-items {
        width: 6%;
        margin: 0 1rem;
    }

    .content-container{
        /*padding-top: 10.5%;*/
    }
    .content-story-wrapper {
        background-color: rgb(243, 243, 243);
        margin-top: 10.6%;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        padding-left: 1vh;
        padding-right: 1vh;

        overflow: hidden;
    }
    .content-story-wrapper .story-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem;
    }
    .content-story-wrapper .story-items .story-photos {
        width: 14vw;
        height: 14vw;
        max-width: 6rem;
        max-height: 6rem;
        margin-bottom: 0.5rem;

        border-radius: 50%;
        border: 0.2rem solid transparent;

        background-image: linear-gradient(#444444, #444444), linear-gradient(to right, #512889, #9F585B, #ED872D);
        background-origin: border-box;
        background-clip: content-box, border-box;
    }

    .content-story-wrapper .story-items .story-photos.read{
        width: 14vw;
        height: 14vw;
        max-width: 6rem;
        max-height: 6rem;
        margin-bottom: 0.5rem;

        border-radius: 50%;
        border: 0.2rem solid gray;
    }

    .content-post-wrapper {
        width: 100%;
    }

    .content-post-wrapper .posts {
        border-top: 0.2rem solid rgb(214, 214, 214);
    }

    .content-post-wrapper .posts .post-id {
        display: inline-block;
        width: 100%;
    }

    .content-post-wrapper .posts .post-id .post-id-left {
        float: left;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        margin: 0.5rem 0 0.5rem 1.5rem;
    }

    .content-post-wrapper .posts .post-id .post-id-right {
        float: right;
        margin-right: 1.5rem;
        margin-top: 1.2rem;
    }

    .content-post-wrapper .posts .post-photo > img {
        width: 100%;
        height: 70vh;
    }

    .content-post-wrapper .posts .post-buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .content-post-wrapper .posts .post-buttons .post-buttons-left {
        display: flex;
        align-items: center;
        width: 100%;
        margin-left: 1rem;
    }

    .content-post-wrapper .posts .post-buttons .post-buttons-left > img {
        margin: 0.5rem;
        width: 14%;
    }

    .content-post-wrapper .posts .post-buttons .post-buttons-right {
        display: flex;
        justify-content: right;
        width: 100%;
        margin-right: 1rem;
    }

    .content-post-wrapper .posts .post-buttons .post-buttons-right > img {
        margin: 0.5rem;
        width: 12%;
    }

    .post-like-msg-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;

        margin-left: 1rem;
    }

    .post-comment {
        margin-top: 1rem;
        margin-left: 1.5rem;
    }

    .friends-comment {
        margin-left: 1.5rem;
    }

    .post-time {
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

    .post-time > p {
        color: rgb(214, 214, 214);
        font-weight: 900;
    }
    #footer-container{
        max-width: 992px;
        width:100%;

        bottom: 0;
        position: fixed;
        background-color: white;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        border-top: 0.2rem solid rgb(214, 214, 214);
        padding: 1rem 0;
    }
    #footer-container .footer-items {
        width: 5%;
        margin: 0 1rem;
    }
}

@media (min-width: 992px) {
    body {
        background-color: rgb(241, 241, 241);
    }
    .header-container.mobile {
        display: none;
    }
    .content-container.mobile {
        display: none;
    }
    #footer-container {
        display: none;
    }
    /* .header-container.desktop{
        top:0;
        position:fixed;
        width:100%;

        display: flex;
        justify-content: center;
        border-bottom: 0.2rem solid rgb(214, 214, 214);

        background-color: white;
    } */

    /* .content-container.desktop{
        background-color: rgb(243, 243, 243);
        margin-top: 100px;
        width:100%;

        display: flex;
        flex-direction: row;
        justify-content: center; */
        /*align-items: center;*/
    /* } */
/* 
    .content-container.desktop #content-wrapper-left{
        width: 670px;
    }
    .content-container.desktop #content-wrapper-right{
        width: 354px;
    } */
    #content-wrapper-left .content-story-wrapper {
        background-color: rgb(254, 254, 254);
        border: 1px solid rgb(214, 214, 214);

        display: flex;
        justify-content: flex-start;
        align-items: center;

        padding-left: 1vh;
        padding-right: 1vh;

        overflow: hidden;
    }

    #content-wrapper-left .content-story-wrapper .story-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0.5rem;
    }

    #content-wrapper-left .content-story-wrapper .story-items .story-photos {
        width: 70px;
        height: 70px;
        margin-bottom: 0.5rem;

        border-radius: 50%;
        border: 0.2rem solid transparent;

        background-image: linear-gradient(#444444, #444444), linear-gradient(to right, #512889, #9F585B, #ED872D);
        background-origin: border-box;
        background-clip: content-box, border-box;
    }

    #content-wrapper-left .content-story-wrapper .story-items .story-photos.read {
        width: 70px;
        height: 70px;
        margin-bottom: 0.5rem;

        border-radius: 50%;
        border: 0.2rem solid gray;
    }

    #content-wrapper-left .content-post-wrapper .posts {
        margin-top: 30px;
        border: 1px solid rgb(214, 214, 214);
    }

    #content-wrapper-left .content-post-wrapper .posts .post-id {
        display: inline-block;
        width: 100%;
    }

    #content-wrapper-left .content-post-wrapper .posts .post-id .post-id-left {
        float: left;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        margin: 0.5rem 0 0.5rem 1.5rem;
    }

    #content-wrapper-left .content-post-wrapper .posts .post-id .post-id-right {
        float: right;
        margin-right: 1.5rem;
        margin-top: 1.2rem;
    }

    #content-wrapper-left .content-post-wrapper .posts .post-photo > img {
        width: 100%;
        height: 500px;
    }

    .content-post-wrapper .posts .post-buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .content-post-wrapper .posts .post-buttons .post-buttons-left {
        display: flex;
        align-items: center;
        width: 100%;
        margin-left: 1rem;
    }

    .content-post-wrapper .posts .post-buttons .post-buttons-left > img {
        margin: 0.5rem;
        width: 25px;
    }

    .content-post-wrapper .posts .post-buttons .post-buttons-right {
        display: flex;
        justify-content: right;
        width: 100%;
        margin-right: 1rem;
    }

    .content-post-wrapper .posts .post-buttons .post-buttons-right > img {
        margin: 0.5rem;
        width: 25px;
    }


    #content-wrapper-right #recommend-header {
        display: flex;
        padding: 0 15px 0 30px;
    }
    #content-wrapper-right #recommend-header-left {
        width: 100%;
        color: gray;
    }
    #content-wrapper-right #recommend-header-right {
        display: flex;
        justify-content: right;
        width: 100%;
        font-weight: 900;
    }

    #content-wrapper-right #recommend-content {
        padding: 0 15px 0 30px;
        display: flex;
        flex-direction: column;
    }
    #content-wrapper-right #recommend-content .recommend-item {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        width: 100%;
    }
    #content-wrapper-right #recommend-content .recommend-item .recommend-content-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    #content-wrapper-right #recommend-content .recommend-item .recommend-content-left .recommend-id {
        font-weight: 900;
    }
    #content-wrapper-right #recommend-content .recommend-item .recommend-content-left .recommend-notice {
        color: gray;
        font-size: 13px;
    }
    #content-wrapper-right #recommend-content .recommend-item .recommend-content-right {
        width: 20%;
        display: flex;
        justify-content: right;
        align-items: center;
    }
    #content-wrapper-right #recommend-content .recommend-item .recommend-content-right > a {
        text-decoration: none;
    }
}

/* .header-container.desktop #header-wrapper {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.4rem 0;
    width: 1024px;
}
.header-container.desktop #header-wrapper-left{
    width: 100%;
    align-items: center;
}
.header-container.desktop #header-wrapper-left .insta-logo {
    width: 40%;
}
.header-container.desktop #header-wrapper-center{
    width: 100%;
    text-align: center;
}
.header-container.desktop #header-wrapper-right{
    width: 100%;

    display: flex;
    justify-content: right;
    align-items: center;
}
.header-container.desktop #header-wrapper-right .header-items{
    width: 25px;
    margin-right: 16px;
} */

#header-wrapper-center input{
    background-image: url("../img/insta-logo/search@3x.png");
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 4%;
    background-color: rgb(250, 250, 250);

    padding-left: 25px;
    border: 1px solid #2e3238;
    width: 320px;
    height: 45px;
    box-sizing: border-box;
    outline: none;
    border-radius: 3px;
}

.post-id-photo {
    width: 3rem;
    height: 3rem;
    margin-right: 0.7rem;

    border-radius: 50%;
}

.post-like-msg-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 1rem;
}

.post-comment {
    margin-top: 1rem;
    margin-left: 1.5rem;
}

.friends-comment {
    margin-left: 1.5rem;
}

.post-time {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.post-time > p {
    color: rgb(214, 214, 214);
    font-weight: 900;
}

b {
    font-weight: 900;
}




/* .e0_335 { 
	overflow:hidden;
}
.e0_335 { 
	background-color:rgba(255, 255, 255, 1);
	width:375px;
	height:914px;
	position:absolute;
}
.e0_344 { 
	width:303px;
	height:363px;
	position:absolute;
	left:35px;
	top:147px;
}
.e0_345 { 
	background-color:rgba(255, 255, 255, 1);
	width:303px;
	height:363px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e0_345 { 
	border:1px solid rgba(225.24999797344208, 225.24999797344208, 225.24999797344208, 1);
}
.e0_346 { 
	width:24px;
	height:24px;
	position:absolute;
	left:19px;
	top:323px;
}
.e0_347 { 
	background-color:rgba(84.00000259280205, 84.00000259280205, 84.00000259280205, 1);
	width:21.32990264892578px;
	height:19.242198944091797px;
	position:absolute;
	left:1.3350491523742676px;
	top:2.3778011798858643px;
}
.e0_348 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e0_349 { 
	color:rgba(0, 0, 0, 1);
	width:106px;
	height:24px;
	position:absolute;
	left:49px;
	top:323px;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e0_350 { 
	width:266px;
	height:249px;
	position:absolute;
	left:19px;
	top:60px;
}
.e0_351 { 
	overflow:hidden;
	border:1px solid rgba(0, 0, 0, 1);
}
.e0_351 { 
	background-color:rgba(255, 255, 255, 1);
	width:266px;
	height:249px;
	position:absolute;
	left:0px;
	top:0px;
}
.e0_352 { 
	width:272px;
	height:331px;
	position:absolute;
	left:-2px;
	top:-31px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e0_353 { 
	width:142px;
	height:40px;
	position:absolute;
	left:16px;
	top:14px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e0_354 { 
	color:rgba(84.00000259280205, 84.00000259280205, 84.00000259280205, 1);
	width:110px;
	height:28px;
	position:absolute;
	left:175px;
	top:319px;
	text-align:right;
	font-size:14px;
	letter-spacing:0;
}
.e0_355 { 
	width:303px;
	height:363px;
	position:absolute;
	left:35px;
	top:525px;
}
.e0_356 { 
	background-color:rgba(255, 255, 255, 1);
	width:303px;
	height:363px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e0_356 { 
	border:1px solid rgba(225.24999797344208, 225.24999797344208, 225.24999797344208, 1);
}
.e0_357 { 
	width:24px;
	height:24px;
	position:absolute;
	left:19px;
	top:323px;
}
.e0_358 { 
	background-color:rgba(84.00000259280205, 84.00000259280205, 84.00000259280205, 1);
	width:21.32990264892578px;
	height:19.242198944091797px;
	position:absolute;
	left:1.3350491523742676px;
	top:2.3778011798858643px;
}
.e0_359 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e0_360 { 
	color:rgba(0, 0, 0, 1);
	width:106px;
	height:24px;
	position:absolute;
	left:49px;
	top:323px;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e0_361 { 
	width:266px;
	height:249px;
	position:absolute;
	left:19px;
	top:60px;
}
.e0_362 { 
	overflow:hidden;
	border:1px solid rgba(0, 0, 0, 1);
}
.e0_362 { 
	background-color:rgba(255, 255, 255, 1);
	width:266px;
	height:249px;
	position:absolute;
	left:0px;
	top:0px;
}
.e0_363 { 
	width:272px;
	height:331px;
	position:absolute;
	left:-2px;
	top:-31px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e0_364 { 
	width:143px;
	height:40px;
	position:absolute;
	left:16px;
	top:14px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e0_365 { 
	color:rgba(84.00000259280205, 84.00000259280205, 84.00000259280205, 1);
	width:110px;
	height:28px;
	position:absolute;
	left:175px;
	top:319px;
	text-align:right;
	font-size:14px;
	letter-spacing:0;
} */
