.e0_335 { 
	overflow:hidden;
}
.e0_335 { 
	background-color:rgba(255, 255, 255, 1);
	width:375px;
	height:914px;
	position:absolute;
}
.e0_344 { 
	width:303px;
	height:363px;
	position:absolute;
	left:35px;
	top:147px;
}
.e0_345 { 
	background-color:rgba(255, 255, 255, 1);
	width:303px;
	height:363px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e0_345 { 
	border:1px solid rgba(225.24999797344208, 225.24999797344208, 225.24999797344208, 1);
}
.e0_346 { 
	width:24px;
	height:24px;
	position:absolute;
	left:19px;
	top:323px;
}
.e0_347 { 
	background-color:rgba(84.00000259280205, 84.00000259280205, 84.00000259280205, 1);
	width:21.32990264892578px;
	height:19.242198944091797px;
	position:absolute;
	left:1.3350491523742676px;
	top:2.3778011798858643px;
}
.e0_348 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e0_349 { 
	color:rgba(0, 0, 0, 1);
	width:106px;
	height:24px;
	position:absolute;
	left:49px;
	top:323px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e0_350 { 
	width:266px;
	height:249px;
	position:absolute;
	left:19px;
	top:60px;
}
.e0_351 { 
	overflow:hidden;
	border:1px solid rgba(0, 0, 0, 1);
}
.e0_351 { 
	background-color:rgba(255, 255, 255, 1);
	width:266px;
	height:249px;
	position:absolute;
	left:0px;
	top:0px;
}
.e0_352 { 
	width:272px;
	height:331px;
	position:absolute;
	left:-2px;
	top:-31px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e0_353 { 
	width:142px;
	height:40px;
	position:absolute;
	left:16px;
	top:14px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e0_354 { 
	color:rgba(84.00000259280205, 84.00000259280205, 84.00000259280205, 1);
	width:110px;
	height:28px;
	position:absolute;
	left:175px;
	top:319px;
	font-family:Inter;
	text-align:right;
	font-size:14px;
	letter-spacing:0;
}
.e0_355 { 
	width:303px;
	height:363px;
	position:absolute;
	left:35px;
	top:525px;
}
.e0_356 { 
	background-color:rgba(255, 255, 255, 1);
	width:303px;
	height:363px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e0_356 { 
	border:1px solid rgba(225.24999797344208, 225.24999797344208, 225.24999797344208, 1);
}
.e0_357 { 
	width:24px;
	height:24px;
	position:absolute;
	left:19px;
	top:323px;
}
.e0_358 { 
	background-color:rgba(84.00000259280205, 84.00000259280205, 84.00000259280205, 1);
	width:21.32990264892578px;
	height:19.242198944091797px;
	position:absolute;
	left:1.3350491523742676px;
	top:2.3778011798858643px;
}
.e0_359 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e0_360 { 
	color:rgba(0, 0, 0, 1);
	width:106px;
	height:24px;
	position:absolute;
	left:49px;
	top:323px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e0_361 { 
	width:266px;
	height:249px;
	position:absolute;
	left:19px;
	top:60px;
}
.e0_362 { 
	overflow:hidden;
	border:1px solid rgba(0, 0, 0, 1);
}
.e0_362 { 
	background-color:rgba(255, 255, 255, 1);
	width:266px;
	height:249px;
	position:absolute;
	left:0px;
	top:0px;
}
.e0_363 { 
	width:272px;
	height:331px;
	position:absolute;
	left:-2px;
	top:-31px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e0_364 { 
	width:143px;
	height:40px;
	position:absolute;
	left:16px;
	top:14px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e0_365 { 
	color:rgba(84.00000259280205, 84.00000259280205, 84.00000259280205, 1);
	width:110px;
	height:28px;
	position:absolute;
	left:175px;
	top:319px;
	font-family:Inter;
	text-align:right;
	font-size:14px;
	letter-spacing:0;
}
