body {
  background-color: rgb(230, 230, 230);
  height: 100%;
  margin: 0;
}
.container {
  width: 375px;
  height: 100vh;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.25);
}
.content{
    height: calc(100vh - 165px);
    overflow: auto;
}