body {
    background-color: rgb(230, 230, 230);
    height: 812px;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
  }
  .container {
    width: 375px;
    height: 100vh;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.25);
  }
  .content{
    height: calc(100vh - 165px);
    overflow-y: auto;
    overflow-x: hidden;
  }
  .icon {
    background-color: white; 
  }
