body {
    background-color: rgb(230, 230, 230);
    height: 812px;
    min-height:100%;
    margin: 0; 
    overflow: hidden;
    font-family: 'Noto Sans KR', sans-serif;
  }
  .container {
    width: 375px;
    height: 100vh;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.25);
    
  }
  .content{
    height: 100vh;
    overflow: auto;
    
}

  .icon {
    background-color: white; /* 배경색을 흰색으로 변경 */
  }
  