.spt_crt_h1 {

  height: 35px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 147%;
  text-align: center;
  color: #bc67ff;
  margin-top: 20px;
}
.spt_crt_h2 {
  width: 345px;
  height: 44px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  color: #221d1d;
  margin: 0px 0px 3px 30px;
}
        
/*아티스트 게시판*/
.post-crt-select {
  width: 327px;
  height: 52px;
  box-sizing: border-box;
  mix-blend-mode: normal;
  border: 1px solid hsl(20, 2%, 70%);
  border-radius: 16px;
  margin: 5px 10px 6px 22px;
  text-indent: 10px;
    font-style: bold;
    font-weight: 550;
    font-size: 18px;
    line-height: 200%;
    color:  #b3b1b0;
    text-indent: 13px;
  }

/*제목 작성*/
.post-crt-title {
width: 327px;
height: 52px;
box-sizing: border-box;
mix-blend-mode: normal;
border: 1px solid #b3b1b0;
border-radius: 16px;
margin: 5px 10px 6px 22px;
}

/*내용 입력*/
.post-crt-detail {
box-sizing: border-box;
width: 327px;
height: 270px;
background: #ffffff;
border: 1px solid #b3b1b0;
border-radius: 16px;
resize: none;
margin: 5px 10px 6px 22px;
  }
  

input::placeholder,
textarea::placeholder{
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
text-align: center;
text-align: left;
color: #857c7c;
}

textarea::placeholder {
padding-top: 1px;
}

input,
textarea,
select {
text-indent: 15px;
}

input::placeholder,
textarea::placeholder {
  text-indent: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  color: #b3b1b0;
  text-indent: 13px;
}
textarea::placeholder {
  padding-top: 2px;
}
input,
textarea {
  text-indent: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  color: #000000;
  text-indent: 13px;
}

.custom-addImg-Button {
  display: inline-block;
  background: #ffffff;
  border: 1px solid #b3b1b0;
  border-radius: 30px;
  cursor: pointer;
  padding: 6px 20px;
  margin-bottom: 1px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  margin-left: 15px;
}

/*작성하기 버튼*/
.write-Button {
width: 320px;
height: 60px;
background: #bc67ff;
border-radius: 30.5px;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 180%;
text-align: center;
color: #ffffff;
border: none;
margin-top: 30px;
margin-left: 25px;
}
/*사진 추가 버튼 마우스 효과*/
.custom-addImg-Button:hover {
border: 1px solid #9b51e0;
outline: 3px solid #f8e4ff;
}

/*input 마우스 효과*/
.post-crt-title:focus,
textarea:focus,
select:focus {
outline: 2px solid #bc67ff;
}

