 /*상단바*/
 .header {
    justify-content: space-between;
    display: flex;
    width: 375px;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
  }
  .icon{
    display: flex;
<<<<<<< HEAD
    background-color:transparent;  }
  /*상단바 아티스트 선택 박스*/

=======
    background-color:transparent;
   }
  /*상단바 아티스트 선택 박스*/
 
>>>>>>> 65842d66298f9b9ff996e6464f2e8d618fc3aeaf
  .btn-select {
    width: 168px;
    padding: 13px 30px 13px 14px;
    background-color: #fff;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    height: 34px;
    border: 1px solid #545454;
    border-radius: 30px;
    /* 아티스트 선택 */
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    color: #545454;
    line-height: 10px;
  }
  .btn-select::after {
    content: "";
   
    width: 30;
    height: 40;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top:12px solid #d9d9d9;
    transform: translateY(-90%);
    pointer-events: none;

   
 
  }
  .btn-select:active{
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
    position: relative;
    top:2px;
  }
  .btn-select::after {
    content: "";

    width: 30;
    height: 40;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top:12px solid #d9d9d9;
    transform: translateY(-90%);
    pointer-events: none;



  }
  .btn-select:active{
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
    position: relative;
    top:2px;
  }
  .btn-select:hover,
  .btn-select:focus {
    border: 1px solid #9b51e0;
    outline: 3px solid #f8e4ff;
  }

button{
    border: 0;
    background-color: #fff;
}
  /*알람 아이콘*/
  .alram,
  .user {
    width: 29px;
    height: 29px;
<<<<<<< HEAD

=======
>>>>>>> 65842d66298f9b9ff996e6464f2e8d618fc3aeaf
    background-color: #fff;

  }
