.category {
    box-sizing: border-box;
    position: absolute;
    width: 375px;
    background: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.category button {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    box-sizing: border-box;
    width: 160px;
    height: 60px;
    background: #ffffff;
    border: none;
}

.category button:hover {
    border-bottom: 3px solid #000000;
}

.title-meeting {
    /* margin-top: 80px;  */
    margin-left: 20px;
}
.ment-meeting {
    margin-left: 20px;
}

.artist_image_2 {

    width: 150px;
    height: 150px;
    border-radius: 50%; 
    overflow: hidden; 
    margin-left: 55%; /* 왼쪽으로 65% 이동 */
    margin-top: -40%; /* 위로 30% 이동 */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 2; 
}

.artist_image img {
    
    width: 100%;
    height: 100%;
    object-fit: cover; 
}



.meeting-grid {
    
    margin : 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

/* 기존의 CSS 코드는 그대로 유지합니다 */

.meeting-item {
    text-align: center;
    background-color: #f0f0f0;
    padding-bottom: 8px;
    display: flex; /* Flexbox를 사용하여 내용을 세로로 배치합니다 */
    flex-direction: column; /* 내용을 세로로 배치합니다 */
    align-items: center; /* 내용을 수직 가운데로 정렬합니다 */
    border-radius: 10px;
}

.meeting-item img {
    width: 100%;
    max-height: 200px;
}

.meeting-item p {
    margin: 10px 0; /*요소 사이에 간격을 조정합니다 */
}

/* 기존의 CSS 코드는 그대로 유지합니다 */

/* 기존의 CSS 코드는 그대로 유지합니다 */

/* 기존의 CSS 코드는 그대로 유지합니다 */
/* 기존의 CSS 코드는 그대로 유지합니다 */

.create-button-container {
    position: relative;
    display: flex;
    justify-content: center;
    /* 버튼을 가로 중앙에 정렬합니다 */
    margin-top: 10px;
    margin-bottom: 20px;
    /* 버튼과 위쪽 요소 간의 간격을 조정합니다 */
}

.create-button {
    width: 312px;
    height: 60px;
    display: flex;
    justify-content: center;
    /* 버튼을 가로 중앙에 정렬합니다 */
    align-items: center;
    background: #BC67FF;
    border-radius: 30.5px;
    /* 버튼의 배경색과 둥근 모서리를 지정합니다 */
    margin-top: 50px;
}

.button-rectangle {
    display: inline-block;
    width: 100%;
    height: 100%;
    /* 버튼의 크기를 부모 요소에 맞춥니다 */
    border-radius: 30.5px;
}

.button-text {
    position: absolute;
    /* 버튼 텍스트를 버튼 안에서 위치시키기 위해 position을 absolute로 지정합니다 */
    left: 0;
    right: 0;
    top: 55%;
    bottom: 0;
    /* 버튼 텍스트를 버튼의 네 가장자리에 맞춥니다 */
    margin: auto;
    /* 버튼의 중앙에 정렬하기 위해 margin을 auto로 지정합니다 */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 180%;
    text-align: center;
    color: #FFFFFF;
    /* 필요에 따라 텍스트의 스타일을 조정할 수 있습니다. */
}

.meeting-button {
    height: 26px;
    margin:15px 0 10px 15px; 
    margin-top: 100px; 
    margin-left: 20px;

}
.meeting-button button:hover,
.all-button:hover {
    border: 1px solid #bc67ff;
}
