
.post-dtl-title {
  width: 272px;
  height: 26px;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin:10px 0px 0px 30px;
}
.post-dtl-name {
  width: 78px;
  height: 18px;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: #000000;
  margin-left:30px;
  margin-top:10px;
}
.post-dtl-regTime {
  width: 170px;
  height: 18px;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  margin-left:30px;
  color: #858585;
  margin-top:10px;

}

.post-dtl-contents {
  width: 204px;
  height: 19px;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;
  color: #000000;
  margin:20px 0px 0px 32px;

}
.post-dtl-img {
  width: 251px;
  height: 218px;
  margin:20px 0px 0px 40px;
}
.post-dtl-line {
  width: 330px;
 
  border: 3px solid #e6e6e6;
  margin-top:10px;
}
.post-dtl-container {
  box-sizing: border-box;
  width:335px;
  height: 450px;
  background: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 16px;
  margin:15px  20px;
  padding-top:10px;
  
}

.post-dtl-input {

  width: 270px;
  height: 40px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border:none;
  font-size:18px;
  text-indent: 10px;
 }
.post-dtl-button {
  width: 65px;
  height: 40px;
  background: #bc67ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-left: 20px;
  color: #fff;
  font-size:18px;
}
.post-comment-container {
 
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  margin-top:20px;
}
.post-comment-box{
   
    padding: 10px;
    border: 1px solid #ccc;
    border-radius:16px;
    background-color: white;
    margin:16px 0px 0px 0px;
    height:60px;
}
.post-modify,
.post-delete {
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
 margin-left: 37px;
 
}
.post-modify{
  color:green;
}
.post-delete{
  color:red;
}