
.post-title {
  width: 40px;
  height: 22px;
  overflow: hidden;

  line-height: 22px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  color: #8a8a8a;
  margin: 5px 0px 0px 10px;
}
.post-title:hover{
  color: #000000;

}
.post-img {
  position: absolute;
  width: 56px;
  height: 56px;
  left:270px;
  top:20px;
  object-fit: cover; 
}


.post-name,
.post-time {
 
  width: 62px;
  height: 17px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: #858585;
  margin-left:10px;

}
.post-name{
  color: #000000;
 
}
.post-time{
  width: 200px;
  margin-left:20px;


}
.post-list {
 
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 16px;
  margin-bottom: 16px;
  padding: 10px;
  margin: 10px 20px;
  width:340px;
  padding-top:20px;

}
.post-list-container {
 
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-top:8px;
  
}
