.content_signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.signup-box {
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

form {
    text-align: left;
    width: 70%;
    padding: 30px; 
    border-radius: 15px; 
    margin-left: 8px;
}

label {
    margin-bottom: 16px;
    margin-top: 10px;
    font-size: 20px;
}

h2{text-align: center;
    margin-left: 40px;
    font-size: 26px;
    
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="submit"] {
    width: 100%;
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 16px; /* 입력 필드 및 제출 버튼의 글씨 크기 */
}

input[type="submit"] {
    background-color: rgba(188, 103, 255, 1);
    color: white;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    border: none;
    transition: background-color 0.3s;
    width: 40%;
    border-radius: 10px;
    margin-left: 170px;
    font-weight: 500;
}

input[type="submit"]:hover {
    background-color: rgb(255, 255, 255);
    color: rgba(188, 103, 255, 1);
    border: 1px solid #bc67ff;
    
}

.error {
    color: #f44336;
    margin-top: -10px;
    margin-bottom: 20px;
    font-size: 16px; /* 오류 메시지의 글씨 크기 */
}
::placeholder {
    font-size: 16px; /* 플레이스홀더 글자 크기 조정 */
    font-weight: 400;
}