/* 전체 body 스타일 */
body {
    background-color: rgb(230, 230, 230);
    height: 100%;
    margin: 0;

}

.container {
    align-items: center;
    position: relative;
    display: flex;
    width: 375px;
    height: 812px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.25);
    flex-direction: column;
} 

/* 카테고리 버튼 스타일 */
.category-buttons {
    display: flex;
    justify-content: space-around;
    margin: 80px 0px 10px;
}

/* 버튼 사이 간격 조정 */
.category-buttons form:not(:last-child) {
    margin-right: 10px;
}

.category-buttons button {
    width: 79px;
    height: 47px;
    background: #FFFFFF;
    opacity: 0.9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px; 
}

.category-buttons button:hover {
    background-color: #c5c5c5;
}


/* 아티스트 목록 스타일 */
.artist-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 한 줄에 최대 3개의 이미지를 표시하도록 설정 */
    grid-gap: 20px;
    justify-items: center;
    margin: 10px;
}

.artist-list button {
    background: none;
    border: none;
    cursor: pointer;
}

.image-wrapper {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%; /* 정사각형 이미지를 원형으로 보이게 설정 */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.artist-list img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지 비율 유지하면서 채우도록 설정 */
}

.artist-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-top: 10px;
}

/* 다른 아티스트 찾으러 가기 버튼 스타일 */
.find-another-artist {
    position: absolute; 
    width: 272.12px;
    height: 40px;
    left: 50px;
    top: 750px;
    background-color: #BC67FF; 
    box-shadow: 0px 0px 4px #BC67FF;
    border-radius: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #555555;
    cursor: pointer;
}

.find-another-artist:hover {
    background-color: #BC67FF; /* 변경된 컬러 코드 */
    color: #ffffff;
    
}
/* 페이지 제목 스타일 */
.page-title {
    margin: 100px 0 0; /* 상단 여백을 10px로 지정하여 하단에서 시작하도록 설정 */
}
