.spt_crt_h1 {
  width: 300px;
  height: 35px;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 147%;
  text-align: center;
  color: #bc67ff;
  margin-top: 10px;
  margin-left: -45px;
}
.spt_crt_h2 {
  width: 345px;
  height: 44px;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  color: #221d1d;
  margin: 3px 0px 10px 30px;
}
/*서포트 등록 폼*/
.register input {
  width: 327px;
  height: 52px;
  box-sizing: border-box;
  mix-blend-mode: normal;
  border: 1px solid #b3b1b0;
  border-radius: 16px;
  margin: 10px 10px 6px 23px;
}

/*내용*/
.detail {
  width: 327px;
  height: 150px;
  box-sizing: border-box;
  resize: none;
  mix-blend-mode: normal;
  border: 1px solid #b3b1b0;
  border-radius: 16px;
  margin: 10px 0px 3px 23px;
  font-weight: 500;
  padding: 1px;
}
input::placeholder,
textarea::placeholder {
  text-indent: 10px;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  color: #b3b1b0;
  text-indent: 13px;
}
textarea::placeholder {
  padding-top: 2px;
}
input,
textarea {
  text-indent: 10px;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  color: #000000;
  text-indent: 13px;
}

.account {
  width: 218px;
  height: 52px;
  box-sizing: border-box;
  mix-blend-mode: normal;
  border: 1px solid #b3b1b0;
  border-radius: 16px;
  margin: 0px 0px 3px 20px;
  float: left;
}

.account-Button{
  box-sizing: border-box;
  width: 69.69px;
  height: 33px;
  background: #ffffff;
  border: 1px solid #b3b1b0;
  border-radius: 30px;
  padding: 6px 0px 6px 0;
  cursor: pointer;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  margin-top: 7px;
  margin-left: 15px;
}

.custom-addImg-Button {
  display: inline-block;
  background: #ffffff;
  border: 1px solid #b3b1b0;
  border-radius: 30px;
  cursor: pointer;
  padding: 6px 20px;
  margin-bottom: 1px;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  margin-left: 15px;
}

/*버튼 마우스 효과*/
.addImg-Button:hover,
.addImg-Button:focus,
.account-Button:hover,
.account-Button:focus {
  border: 1px solid #bc67ff;
  outline: 3px solid #f8e4ff;
}

/*서포트 마감일*/
.custom-date {
  box-sizing: border-box;
  mix-blend-mode: normal;
  border: 1px solid #b3b1b0;
  border-radius: 16px;
  padding: 15px;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #b3b1b0;
  text-indent: 0px;
}
/*시작하기 버튼*/
.start-Button {
  width: 327px;
  height: 60px;
  background: #b3b1b0;
  border-radius: 30.5px;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 180%;
  text-align: center;
  color: #ffffff;
  border: none;
  margin: 3px 0px 3px 21px;
}
/*input 마우스 효과*/
input:focus,
textarea:focus {
  outline: 2px solid #bc67ff;
}
input[type="datetime-local"]::before {
  content: attr(data-placeholder);
  width: 100%;
}
input[type="datetime-local"]:focus::before,
input[type="datetime-local"]:valid::before {
  display: none;
}

.select-wrapper {
  position: absolute;
  margin: 12px 0px 0px -240px;
  z-index: 1;
  
}