

/*스크롤바 커스텀*/
::-webkit-scrollbar {
  width: 0.1px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
 /*서포트 전체, 내가 참여한 서포트*/
 .support_list_category {
  box-sizing: border-box;
  height: 60px;
  background: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 377px;
}

.allsupport,
.mysupport {
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;

  font-weight: 500;

  line-height: 22px;
  text-align: center;
  color: #000000;
  box-sizing: border-box;

  height: 60px;
  background: #ffffff;
  border: none;

}



.support_list_category button:hover {
  border-bottom: 3px solid #000000;
}
/*진행중, 완료, 작성 버튼*/
.support_button {
  height: 26px;
  margin: 15px 0 10px 22px;
}
.support_button button:hover{
  border: 1px solid #bc67ff;
}
.support_button button{
    box-sizing: border-box;
  width: 58px;
  height: 26px;
  background: #ffffff;
  border: 1px solid #b3b1b0;
  border-radius: 30px;
}
.write_button {
  margin-left: 140px;
}

/*서포트 리스트 전체 div*/
.supporting {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  

}
/*서포트 리스트 각각 div*/
.support_list_box{
  display: flex;
  margin: 10px 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 16px;
  margin-bottom: 16px;
  font-family: 'Noto Sans KR', sans-serif;
  padding: 20px 20px 0px 20px;
  font-style: normal;
  font-weight: 500;
  width:340px;
}
/*서포트 제목*/
.spt_list_h1 {
  font-size:24px;
  line-height: 100%;
  color: #8a8a8a;
  margin-top: -5px;
}
.spt_list_h1:hover{
  color: #000000;

}
/*서포트 목표, 종료*/
.spt_list_h3 {
  font-size: 18px;
  line-height: 100%;
  color: black;
  margin-top: -5px;
  width: 200px;
  font-weight: 400;
}
/*서포트 계좌*/
.spt_list_h2 {
  font-size: 20px;
  line-height: 150%;
  color: #bc67ff;
  margin-top: -10px;
}
/*서포트 퍼센트 박스*/
.support_percent_box {
  width: 90px;
  height: 90px;
  background: #d9d9d9;
  border-radius: 20px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 150%;
  color: #000000;

}

.support_list_category button .line {
  border-bottom: 3px solid #000000;

}

.purple-round{
  border: 1px solid #bc67ff;

}