          /*뒤로 가기 아이콘*/
          .back {
            
            width: 80px;
            height: 80px;
           
          }
          /*서포트 시작하기*/
          h1 {
           
            width: 180px;
            height: 35px;
           
            font-family: "Poppins";
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 147%;
            text-align: center;
            color: #000000;
          }
          h2 {
            width: 345px;
            height: 44px;
           
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            display: flex;
            align-items: center;
            color: #221d1d;
          }
          /*서포트 등록 폼*/
          .register input {
            width: 327px;
            height: 52px;
            box-sizing: border-box;
            
            mix-blend-mode: normal;
            border: 1px solid #b3b1b0;
            border-radius: 16px;
          }
          
        
          /*내용*/
          .detail {
            width: 327px;
            height: 150px;
            box-sizing: border-box;
        
            resize: none;
            mix-blend-mode: normal;
            border: 1px solid #b3b1b0;
            border-radius: 16px;
          }
          input::placeholder,
          textarea::placeholder {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
            text-align: center;
            text-align: left;
            color: #b3b1b0;
          }
          textarea::placeholder {
            padding-top: 2px;
          }
          input,
          textarea {
            text-indent: 15px;
          }
          /*사진 추가 버튼, 은행 버튼*/
          .addImg-Button,
          .account-Button {
            box-sizing: border-box;
            width: 68px;
            height: 34px;
           
            background: #ffffff;
            border: 1px solid #b3b1b0;
            border-radius: 30px;
          }
          .addImg-button{
              width:30px;
          }
          /*버튼 마우스 효과*/
          .addImg-Button:hover,
          .addImg-Button:focus,
          .account-Button:hover,
          .account-Button:focus {
            border: 1px solid #00a9ff;
            outline: 3px solid lightblue;
          }
          .account-Button {
            top: 423px;
          }
          .account-Button::after {
            content: "";
           
            width: 30;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 6px solid #d9d9d9;
            transform: translateY(-50%);
            pointer-events: none;
          }
          .account-Button.on::after {
            transform: translateY(-50%) rotate(180deg);
          }
          .account-list {
            list-style-type: none;
            display: none;
          
            width: 65px;
           
            padding: 0;
            border: 1px solid #c4c4c4;
            box-sizing: border-box;
            box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
            border-radius: 10px;
            background-color: #fff;
          }
          .account-Button.on + .account-list {
            display: block;
          }
          .account-list li {
            width: 65px;
            height: 40px;
            padding: 5px 8px;
            box-sizing: border-box;
          }
          .account-list li button {
            width: 100%;
            padding: 7px 10px;
            border: none;
            background-color: #fff;
            border-radius: 8px;
            cursor: pointer;
            text-align: left;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          /*list 마우스 효과*/
          .account-list li button:hover,
          .account-list li button:focus {
            background-color: lightblue;
          }
          /*서포트 마감일*/
          .custom-date {
          
            box-sizing: border-box;
            
            mix-blend-mode: normal;
            border: 1px solid #b3b1b0;
            border-radius: 16px;
            padding: 15px;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
            color: #b3b1b0;
            text-indent: 0px;
          }
          /*시작하기 버튼*/
          .start-Button {
            width: 327px;
            height: 60px;
          
            background: #b3b1b0;
            border-radius: 30.5px;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 180%;
            text-align: center;
            color: #ffffff;
            border: none;
          }
          /*input 마우스 효과*/
          input:focus,
          textarea:focus {
            outline: 2px solid #00a9ff;
          }
          input[type='datetime-local']::before {
              content: attr(data-placeholder);
              width: 100%;
            }
            input[type='datetime-local']:focus::before,
          input[type='datetime-local']:valid::before {
            display: none;
          }