::-webkit-scrollbar {
    width: 2px; /* Set the width of the vertical scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Set the background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Set the color of the scrollbar thumb */
    border-radius: 6px; /* Set the border radius of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Set the color of the scrollbar thumb when hovering */
}
/*카테고리 나누기*/
.category {
    box-sizing: border-box;
    height: 60px;

    background: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
box-sizing: border-box;

width: 375px;

}
.all,
.mysupport {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #000000;

font-family: "Inter";
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
text-align: center;
margin-left:10px;
color: #000000;


    box-sizing: border-box;
    width: 280px;
    height: 60px;
    background: #ffffff;
    border: none;
  
}

.mysupport {

width: 250px;
}

.category button:hover {
border-bottom: 3px solid #000000;
}
/*카테고리 버튼 3개*/
.supporting-button {
    height: 26px;
    margin:80px 0px 0px 20px;
   

}
.supporting-button button:hover{
    border: 1px solid #bc67ff;
}
.write-button {
    box-sizing: border-box;
    width: 58px;
    height: 26px;
    background: #ffffff;
    border: 1px solid #b3b1b0;
    border-radius: 30px;
    margin-left:150px;

box-sizing: border-box;

width: 58px;
height: 26px;
background: #ffffff;
border: 1px solid #b3b1b0;
border-radius: 30px;
margin-left:130px;

}
.end-button {
    box-sizing: border-box;
    width: 58px;
    height: 26px;
    background: #ffffff;
    border: 1px solid #b3b1b0;
    border-radius: 30px;
}
.all-button {
    box-sizing: border-box;
    width: 58px;
    height: 26px;
    background: #ffffff;
    border: 1px solid #b3b1b0;
    border-radius: 30px;
}
/*서포트 내용 박스*/
.supporting {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y:scroll;
    overflow-x:hidden;
    height:500px;
    margin-top:90px;
}

.supporting_box{
    display: flex;
    margin: 5px 20px;
    border: 1px solid #333333;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 16px; padding: 20px;
    z-index:0;

}

.spt_list_h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #333333;
    margin-top: -5px;
    text-decoration: underline;
}

.spt_list_h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color:black;
    margin-top: -5px;
}

.spt_list_h2 {
    /* New Password */
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #00a9ff;
    margin-top: -10px;

}

.support-box {
    width: 90px;
    height: 90px;
    background: #d9d9d9;
    border-radius: 20px;
    text-align: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 150%;
    color: #000000;

margin-left:220px;
margin-top:-80px;
z-index:1;
}