.support_dtl_h1 {
  width: 300px;
  height: 35px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 147%;
  text-align: center;
  color: #bc67ff;
  margin-top: 10px;
  margin-left: -55px;
  margin-bottom: 10px;
 
}
.percent {
  position: relative;
  box-sizing: border-box;
  mix-blend-mode: normal;
  border: 1px solid #b3b1b0;
  border-radius: 16px;
  height: 11px;
  width: 320px;
  margin: 2px 10px 20px 25px;
}

#percent-bar-content {
  position: absolute;
  left: -0.5px;
  box-sizing: border-box;
  background: #bc67ff;
  mix-blend-mode: normal;
  border: 1px dashed #bc67ff;
  border-radius: 16px;
  height: 10px;
}

.detail-container div {
  width: 327px;
  height: 52px;
  box-sizing: border-box;
  mix-blend-mode: normal;
  border: 1px solid #b3b1b0;
  border-radius: 16px;
  text-indent: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height:250%;
  color: #333333;
  margin: 5px 5px 5px 20px;
}
/*제목*/
.detail-container .title {
  margin: 5px 5px 10px 20px;
}
.detail-container .goal {
  margin: 5px 5px 10px 20px;
}

/*마감 날짜*/
.detail-container .enddate {
  margin-top: 65px;
}
/*계좌 번호*/
.detail-container .account {
  margin: 5px 5px 10px 20px;
}
/*내용*/
.detail-container .detail {
  height: 230px;
  margin: 5px 5px 10px 20px;
}
.detail-container .support-img {
  width: 279px;
  height: 251px;
  margin: 5px 5px 10px 20px;
}
.line {
  width: 250px;
  height: 0px;
  border: 2px solid rgba(51, 51, 51, 0.7);
  margin: 10px 0px 0px 55px;
}
.text {
  display: flex;
  justify-content: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #333333;
  mix-blend-mode: normal;
}
/*모금자 정보 목록*/
.supportinfo-container {
  mix-blend-mode: normal;
  width: 308px;
  margin-left: 10px;
}
.info-text p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #333333;
  margin-bottom: 2px;
  margin-top: 2px;
  margin-left: 10px;
}

/*팝업창*/
.wrap {
  padding: 10px;
}

.pop_wrap {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  font-size: 0;
  text-align: center;
  border-radius: 16px;
}
.pop_wrap:after {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}
.pop_wrap .pop_inner {
  border-radius: 10px;
  display: inline-block;
  padding: 20px 30px;
  background: #fff;
  width: 200px;
  vertical-align: top;
  font-size: 14px;
  margin-top:-5px;
}
.btn_yes,
.btn_no {
  font-size: 12px;
  height: 20px;
  border: none;
  background-color: #fff;
}
.btn_no {
  color: red;
}
/*수정 버튼*/
.modify_button {
  box-sizing: border-box;
  width: 58px;
  height: 26px;
  background: #ffffff;
  border: 1px solid #b3b1b0;
  border-radius: 30px;
  margin-bottom: 10px;
}

.modify_button:hover {
  border: 1px solid #bc67ff;
}

.form-input {
  border: none;
  outline: none;
  background-color: transparent; 
}

/* 마감하기 버튼 */
.start-Button{
  width: 327px;
  height: 60px;
  background: #bc67ff;
  border-radius: 30.5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;
  text-align: center;
  color: #ffffff;
  border: none;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.coppy-Button{
  box-sizing: border-box;
  width: 58px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #b3b1b0;
  border-radius: 30px;
  margin-bottom: 10px;
  margin-left: 250px;
}

.select-wrapper {
  position: absolute;
  margin: 5px 0px 0px 250px;
  z-index: 1;
}

.form-input:focus {
  outline: none;
}
/*블록체인 아코디언*/
.blockchain {
  border: 2px solid #b3b1b0;
  padding: 5px;
  margin-bottom: 20px;
  border-top: none;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  width: 304px;
  margin: -30px 0px 10px 20px;
  padding-bottom: 10px;
}
.hash {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  color: #bc67ff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 285px;
  height: 46px;
  margin: 27px 0px 0px 8px;
  background: #f4f4f4;
  border-radius: 16px;
  
}
.timestamp,
.credit,
.depositor,
.creditTime {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: #000000;
  margin: 5px 0px 0px 0px;
  width:310px;
}


.block-chain-container {
  border: 1px solid #b3b1b0;
  border-radius: 16px;
  padding: 5px;
  width: 304px;
  margin: 3px 0px 10px 20px;

}
