{% extends 'base_artistlist.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="ko">
  <head>
  </head>
    <body>
        <h2 class="page-title">나의 아티스트 선택하기</h2>

        <div class="artist-buttons">
            <button type="submit"
                class="artist-btn">K-POP</button>
            <button type="submit"
                class="artist-btn selected">트로트</button>
            <button type="submit"
                class="artist-btn">발라드</button>
            <button type="submit"
                class="artist-btn">기타</button>
        </div>

        <div class="artist-list">
            <button>
                <div class="image-wrapper">
                    <img src="{% static 'images/hero.png' %}" width="100" height="100">
                </div>
                <div class="artist-name">임영웅</div>
            </button>
            <button>
                <div class="image-wrapper">
                    <img src="{% static 'images/hero.png' %}" width="100" height="100">
                </div>
                <div class="artist-name">이찬원</div>
            </button>
            <button>
                <div class="image-wrapper">
                    <img src="{% static 'images/hero.png' %}" width="100" height="100">
                </div>
                <div class="artist-name">송가인</div>
            </button>


            <form method="get" action="{% url 'user:tutorial' %}">
                {% csrf_token %}
                <button type="submit" class="find-another-artist">돌아가기</button>
            </form>
        </div>
    </body>
</html>
{% endblock %}

