{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="{% static 'css/base_artistlist.css' %}" />  
    <link rel="stylesheet" href="{% static 'css/artist_list.css' %}" />
    <link rel="stylesheet" href="{% static 'css/subscribe_list.css' %}" />
    <link rel="stylesheet" href="{% static 'css/create_post.css' %}" />
    <link rel="stylesheet" href="{% static 'css/support_create.css' %}?after" />
    <link rel="stylesheet" href="{% static 'css/create_post.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tutorial-hover.css' %}" />

    

      
      <title>별너울</title>
    {% include 'head.html' %}
    <style>
        .dark-background {
          background-color: rgba(0, 0, 0, 0.6);
          position: absolute;
          top: 0;
          left: 0;
          width: 375px;
          height: 100vh;
          z-index: 2;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        #hidden-pointer {
        display: none;
        position: absolute;
        animation: motion 1s linear infinite alternate;
      }
    
      @keyframes motion {
        0% {
          top: 90%;
        }
        100% {
          top: 92%;
        }
      }
      </style>
   </head>
  <body>
    <div class="container" style="position:relative">
        <div class="dark-background" id="popup" style="display:none;">
        </div>
      <div class="content">
        <img id="artist_step3" src="{% static 'tutorial/artist_step3.png' %}"
        style=" width: 240px; display: none; position: absolute; z-index: 8887; top: 64%; left: 65%; transform: translate(-50%, -50%);"
        alt="이미지">
        <img id="hand" src="{% static 'tutorial/hand.png' %}"
        style=" width: 70px; display: none; position: absolute; z-index: 8887; top: 90%; left: 80%; transform: translate(-50%, -50%);"
        alt="이미지">
        <h2 class="page-title">구독한 아티스트 목록</h2>

        <div class="artist-buttons">
            <button type="submit"
                class="artist-btn">K-POP</button>
            <button type="submit"
                class="artist-btn selected">트로트</button>
            <button type="submit"
                class="artist-btn">발라드</button>
            <button type="submit"
                class="artist-btn">기타</button>
        </div>

        <div class="artist-list">
            <button>
                <div class="image-wrapper" style="position: relative;">
                    <img src="{% static 'images/hero.png' %}" width="100" height="100">
                </div>
                <div class="artist-name">임영웅</div>
            </button>


            <form method="get" action="{% url 'user:tutorial' %}">
                {% csrf_token %}
                <button type="submit" style="position: absolute;" class="find-another-artist">다른 아티스트 찾으러 가기</button>
            </form>

          
        </div>
    
        <script>
        const popup = document.getElementById("popup"); //배경 어둡게 
        const artistStep3 = document.getElementById("artist_step3"); // 이미지 요소 추가
        const hand = document.getElementById("hand"); // 이미지 요소 추가
        const hero = document.querySelector('.image-wrapper'); //보여주고 싶은 영역
        const button = document.querySelector('find-another-artist'); //보여주고 싶은 영역
      
        setTimeout(function () {
          // popup.style.display = "block";
          // hero.style.zIndex = "8888";
          // button.style.zIndex = "8886";
          artistStep3.style.display = "block";  
          hand.style.display = "block";  
          hand.style.animation = "motion 1s linear infinite alternate";
          }, 1000);
    
        </script>
        </div>
    </body>
</html>

