{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"
    />
    <link rel="stylesheet" href="{% static 'css/base_artistlist.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'css/tutorial_support_start_step_1.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/artist_list.css' %}" />
    <link rel="stylesheet" href="{% static 'css/subscribe_list.css' %}" />
    <link rel="stylesheet" href="{% static 'css/create_post.css' %}" />
    <link rel="stylesheet" href="{% static 'css/support_create.css' %}" />
    <link rel="stylesheet" href="{% static 'css/create_post.css' %}" />

    <title>별너울</title>
    {% include 'head.html' %}
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div style="margin: 60px 0">
          <h1 class="support_h1">서포트 계좌 인증</h1>
          <h2 style="font-size: 24px; font-weight: 400; margin-left: 25px;">
            서포트 생성 완료!
          </h2>
          <p style="margin: 0 25px; word-break: break-all;">
            감사합니다.<br>
            인증이 완료되었습니다.
          </p>
          <div
        
            style="
              width: 300px;
              margin: 0 auto;
              text-align: center;
              padding: 100px 0;
            "
          >
            <img
              src="{% static 'images/check.png' %}"
              class="tutorial-support-step1-coin"
              alt="coin"
              width="80px"
            />
            <img style="  position: absolute; z-index: 100000;  left: 50%; transform: translate(-40%, 90%);" src="{% static 'images/box_left_up.png'%}" alt="말풍선" class="speech-bubble">

          </div>
          <form method="get" action="{% url 'user:tutorial' %}">
            {% csrf_token %}
            <button
              type="submit"
              style="
                width: 300px;
                height: 40px;
                box-shadow: 0px 0px 4px #bc67ff;
                border-radius: 50px;
                text-align: center;
                margin: 0 auto;
                font-size: 20px;
                line-height: 24px;
                color: #555555;
                font-weight:500;
                margin-left:calc(75px / 2);
                margin-bottom:10px;
                background-color: transparent;
                border:2px solid white;
              "
            >
              돌아가기
            </button>
          </form>
        </div>
      </div>
    </div>
  
  </body>
</html>
