{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/support_form.css' %}" />
    <link rel="stylesheet" href="{% static 'css/support_create.css' %}" />
    <link rel="stylesheet" href="{% static 'css/support_list.css' %}" />
    <link rel="stylesheet" href="{% static 'css/support_dtl.css' %}" />
    <link rel="stylesheet" href="{% static 'css/post_list.css' %}" />

    <link rel="stylesheet" href="{% static 'css/post_detail.css' %}" />
    <link rel="stylesheet" href="{% static 'css/create_post.css' %}" />

    <link rel="stylesheet" href="{% static 'css/artist_info.css' %}" />
    <link rel="stylesheet" href="{% static 'css/use_working.css' %}" />

    <title>서포트 참여</title>
    {% include 'head.html' %}
    <style>
      .dark-background {
          background-color: rgba(0, 0, 0, 0.6); 
          position: absolute;
          
          width: 375px;
          height: 100vh;
          top: 0;
          left: 0;
        
          z-index: 2;
          display: flex;
          align-items: center;
          justify-content: center;
          
      }
      .hand{ animation: motion 0.4s 
        linear 0s   
        infinite alternate; 

      }
      @keyframes motion {
        0% {margin-top: -100px;} /* 처음 위치 */
        100% {margin-top: -80px;} /* 마지막 위치 */
        }
  
  </style>
  </head>
  <body>
    <div class="container" style="position:relative; ">
      
      <div class="dark-background" id="popup" style="display:none;">
      </div>
      <div class="header">
        <form>
          <button class="btn-select" type="submit">
            &nbsp; &nbsp;임영웅 •••
          </button>
        </form>
        <div class="icon">
          <form>
            <button type="submit">
              <img
                class="user"
                src="{% static 'images/user.png'%}"
                alt="이용행보"
              />
            </button>
          </form>
          <form>
            <button id="alarm-button">
              <img
                class="alarm"
                src="{% static 'images/alarm.png'%}"
                alt="알람"
              />
            </button>
          </form>
        </div>
      </div>
      <div class="content">
        <div style="justify-content: row; display: flex; margin-bottom: 10px">
          <img class="back" src="{% static 'images/back.png'%}" alt="이전" />
          <h1 class="support_dtl_h1" style="margin: 22px 0px 0px -120px">
            상세조회
          </h1>
        </div>
        <span id="percent-content" style="display: none">80</span>
        <div class="percent" style="background:#fff">
          <div class="percent-bar" id="percent-bar-content"></div>
        </div>
        <img style="  position: absolute; z-index: 100000;  left: 50%; transform: translate(-50%, 10%);display:none;" src="{% static 'images/box_left_up.png'%}" alt="말풍선" class="speech-bubble1">

        <div class="detail-container">
          <div class="title">임영웅 생일 카페 후원</div>
          <div class="goal">1,000,000원</div>
          <div class="detail" style="height: auto">
            <p style="word-break: break-all">
              임영웅군 생일을 맞아 8월 19일 OO역 앞 OO카페에서 생일카페를
              엽니다. 장소 대관 및 스탭 후원받습니다!🌼
            </p>
            <img
              src="{% static 'images/tutorial_support_detail.png'%}"
              style="margin: 0px 0px 0 10px; width: 300px;"
              alt="Support Image"
            />
          </div>

          <div
            style="position: relative; border: none; margin: -1px 0px -55px 0px"
          >
            <div class="account">농협 20406578234712</div>
            <div class="select-wrapper" style="border: none">
              <button class="coppy-Button" id="copyButton">복사</button>
            </div>
          </div>
          <div class="enddate">2023/8/18 PM11:59</div>
        </div>
        <img style="  position: absolute; z-index: 100000;  left: 50%; transform: translate(-50%, -90%);display:none" src="{% static 'images/box_left.png'%}" alt="말풍선" class="speech-bubble2">

        <button
          style="margin-top: 20px; background: #b3b1b0; position:relative;"
          class="start-Button"
        

        >
          완료된 서포트입니다.
        </button>
       
        <div class="line"></div>
          <p class="text">출금 내역</p>
          <div class="supportinfo-container">
              <div  class="block-chain-container"  style="position:relative;background:#fff"id="blockchain-11" onclick="toggleBlockchain(11)">
                <div style="display:flex; position:row;text-align: center;">
                <input style="font-size:20px;" type="text" class="form-input" value="OO카페 대관" readonly><br>
                <input style="font-size:18px; margin-top:10px; margin-left:-25px;" type="text" class="form-input" value="-520,000 " readonly><br>
                </div>
                <input style="color: #949494; font-size:18px;" type="text" class="form-input" value="2023-08-15 AM 01:18" readonly><br>
              </div>

              <div class="blockchain"  style="position:relative;background:#fff"id="blockchain-content-11" style="display: none;">
                <div class="hash">&nbsp;&nbsp;5bb46aaf1b30680d70c612378aa...</div>
                  <div class="timestamp">서포트 마감 시간: 2023.08.15 01:19</div>
                  <div class="credit">블록체인 출금액: 100000</div>
                  <div class="depositor">블록체인 출금자 정보: OO카페 대관</div>
                  <div class="creditTime">블록체인 출금 시간: 2023.08.15 01:18</div>
              </div>
              <div  class="block-chain-container"  style="background:#fff"id="blockchain-11" onclick="toggleBlockchain(11)">
                <div style="display:flex; position:row;text-align: center;">
                <input style="font-size:20px;" type="text" class="form-input" value="OO커피차 이벤트" readonly><br>
                <input style="font-size:18px; margin-top:10px; margin-left:-25px;" type="text" class="form-input" value="-520,000 " readonly><br>
                </div>
                <input style="color: #949494; font-size:18px;" type="text" class="form-input" value="2023-08-09 AM 05:28" readonly><br>
              </div>

             
          </div>

    </div>
    <div class="footer">
        <div class="singer">
          <img
            id="singer-img"
            src="{% static 'images/singer.png'%}"
            alt="가수 이미지"
          />
          <div class="label" style="top: 20px">내 가수</div>
        </div>
        <div class="list">
          <img
            id="list-img"
            src="{% static 'images/list.png'%}"
            alt="게시글 이미지"
          />
          <div class="label">게시판</div>
        </div>
        <div class="group">
          <img
            id="group-img"
            style="width: 58px; height: 58px; margin-top: -6px"
            src="{% static 'images/group.png'%}"
            alt="그룹 이미지"
          />
          <div class="label" style="margin-top: -1px">모임</div>
        </div>
        <div class="support">
          <img
            id="support-img"
            style="
              width: 60px;
              height: 60px;
              margin-top: -5px;
              margin-left: -14px;
            "
            src="{% static 'images/purplesupport.png'%}"
            alt="서포트 이미지"
          />
          <div
            class="label"
            style="margin-top: -3px; color: #bc67ff; margin-left: -15px"
          >
            서포트
          </div>
        </div>
      </div>
    </div>
    <script>
      function calcPercent() {
        let values = document.getElementById("percent-content").innerText;
        const percent = document.getElementById("percent-bar-content");
        if (parseInt(values) / 100 == 0) percent.style.width = "20px";
        else if (parseInt(values) / 100 > 1) percent.style.width = "320px";
        else percent.style.width = (parseInt(values) / 100) * 320 + "px";
      }
      calcPercent();

      function showPopup(formId) {
        const popup = document.getElementById(`pop_info_${formId}`);
        popup.style.display = "block";
      }

      function hidePopup(formId) {
        const popup = document.getElementById(`pop_info_${formId}`);
        popup.style.display = "none";
      }

      //계좌 복사
      document
        .getElementById("copyButton")
        .addEventListener("click", function () {
          const accountInfo = document.querySelector(".account");
          const tempTextArea = document.createElement("textarea");
          tempTextArea.value = accountInfo.textContent;
          document.body.appendChild(tempTextArea);
          tempTextArea.select();
          document.execCommand("copy");
          document.body.removeChild(tempTextArea);
          alert("계좌 정보가 복사되었습니다.");
        });

      function goBack() {
        window.history.back();
      }

      /*블록체인 아코디언*/
      function toggleBlockchain(formId) {
        const blockchainContent = document.getElementById(
          `blockchain-content-${formId}`
        );
        const blockchain = document.getElementById(`blockchain-${formId}`);

        if (blockchainContent.style.display === "none") {
          blockchainContent.style.display = "block";
          blockchain.style.border = "2px solid #b3b1b0";
        } else {
          blockchainContent.style.display = "none";
          blockchain.style.border = "1px solid #b3b1b0";
        }
      }
      const b1 = document.querySelector(".speech-bubble1");
      const b2 = document.querySelector(".speech-bubble2");

      const popup = document.getElementById("popup");
      const percent = document.querySelector('.percent');
      const content = document.querySelector('.content');
      const blockchain = document.querySelector('.blockchain');

      const container = document.querySelector('.block-chain-container');
      const startbutton = document.querySelector('.start-Button');
      const hand = document.querySelector('.hand');

      setTimeout(function () {
        percent.style.zIndex = "9999";
        popup.style.display = "block";
        container.style.zIndex="3";
        blockchain.style.zIndex="2";
  
               b1.style.display = "block";


      }, 1000);
    
    
    
      setTimeout(function () {
        content.scrollTop = content.scrollHeight; 
        startbutton.style.zIndex = "9999";
        container.style.zIndex="9999";
        container.style.border = "2px solid #b3b1b0";
        blockchain.style.zIndex="9997";
        percent.style.zIndex = "1";
        b1.style.display = "none";
        b2.style.display = "block";
        b2.style.top = "190px";
        container.addEventListener('click', function() {
          startbutton.textContent = '돌아가기';
          startbutton.onclick = function() {
            location.href='{% url 'user:tutorial_support' %}';
          }
        });
      }, 2000);
   
    
    </script>
  </body>
</html>
