{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"
    />
    <link rel="stylesheet" href="{% static 'css/base_artistlist.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tutorial_support_start_step_1.css' %}" />
    <link rel="stylesheet" href="{% static 'css/artist_list.css' %}" />
    <link rel="stylesheet" href="{% static 'css/subscribe_list.css' %}" />
    <link rel="stylesheet" href="{% static 'css/create_post.css' %}" />
    <link rel="stylesheet" href="{% static 'css/support_create.css' %}" />
    <link rel="stylesheet" href="{% static 'css/create_post.css' %}" />

    <title>별너울</title>
    {% include 'head.html' %}
    <style>
      .dark-background {
          background-color: rgba(0, 0, 0, 0.6); 
          position: absolute;
          top: 0;
          left: 0;
          width: 375px;
          height: 100vh;
          z-index: 0;
          display: flex;
         
      }
      .hand{ animation: motion 0.4s 
        linear 0s   
        infinite alternate; 

      }
      @keyframes motion {
        0% {margin-top: -40px;} /* 처음 위치 */
        100% {margin-top: -20px;} /* 마지막 위치 */
        }
  </style>   

  </head>
  <body>
    <div class="container" style="position:relative;">
      <div class="dark-background" id="popup" style="display:none;">
        <img style="  position: relative; z-index: 100000;  left: 50%; transform: translate(-50%, 1%);display:none" src="{% static 'tutorial/support2_step2.png'%}" alt="말풍선" class="speech-bubble2">

      </div>
      <div class="content" style="z-index:1"> 
        <img
          class="back"
          src="{% static 'images/back.png'%}"
          alt="이전"
          onclick="goBack()"
        />
        <h1 class="support_h1">서포트 시작하기</h1>
        <h2 class="support_h2">서포트 정보를 작성해주세요.</h2>

        <div class="register">

          <input class="title"
            placeholder="제목"
            type="text"
            name="title"
            id="title"
            style="position: relative;"
          />
          <input
            class="goal"
            placeholder="목표 모금액"
            type="number"
            name="fundraising"
            id="fundraising"
            style="position:relative"
          />
          <input
            data-placeholder="모금 종료 기간"
            required
            aria-required="true"
         
            class="custom-date"
            type="datetime-local"
            name="deadline"
            id="dead"
            style="position:relative"
          />

          <div style="position: relative; border: none; margin-bottom: 26px" class="detail-box">
            <textarea
              class="detail"
              placeholder="내용"
              name="body"
              id="body"
            ></textarea>
            <div class="select-wrapper" style="border: none; margin-top: -65px">
              <label for="image" class="custom-addImg-Button">사진</label>
              <input
                style="display: none"
                type="file"
                name="image"
                value="{{ support.image }}"
                id="image"
              />
            </div>
          </div>
          <article>
            <input
              class="account"
              placeholder="계좌번호"
              type="text"
              name="account"
              id="account"
              style="position:relative"
           

            />
            <select
              class="account-Button"
              onclick="return false;"
              name="bank"
              id="bank"
              style="position:relative"

            >
              <option value="우리">우리</option>
              <option value="농협">농협</option>
              <option value="신한">신한</option>
              <option value="삼성">삼성</option>
            </select>
          </article>
          <button
            class="start-Button"
          
            style="margin-top: 10px; background: #b3b1b0;position:relative;"
            onclick="goNext()"
            style="position:relative"
            >
            항목을 모두 작성해 주세요
          </button>
          <img style="width:70px; height:70px;z-index:100000; left: 260px; position:relative;display:none;" src="{% static 'images/hand.png'%}" alt="손" class="hand">

        </div>
        <script>
          const hand = document.querySelector('.hand'); 

          /* 버튼 활성화 */
          let inputs = document.querySelectorAll("input, textarea");
          let startButton = document.querySelector(".start-Button");
          startButton.disabled = true;

          function checkInputs() {
            let allFilled = true;
            inputs.forEach(function (input) {
              if (input.value.trim() === "") {
                allFilled = false;
                return;
              }
            });

            if (allFilled) {
              startButton.disabled = false;
              startButton.style.backgroundColor = "#BC67FF";
              startButton.innerHTML = "시작하기";
              hand.style.display="block";

            } else {
              startButton.disabled = true;
            }
          }

          inputs.forEach(function (input) {
            input.addEventListener("input", checkInputs);
          });

          function goBack() {
            window.history.back();
          }

          function goNext(){
            storeAccount(); 
            setTimeout(function() {
              window.location.href = '{% url 'user:tutorial_support_start_step_1' %}';
          }, 1000);
          }

          const popup = document.getElementById("popup");
          let inputs2 = document.querySelectorAll("input, select"); 
          const button = document.querySelector('.start-Button');
          const detail = document.querySelector('.detail-box');
          const title = document.querySelector('.title');
          const b2 = document.querySelector('.speech-bubble2');
          const content = document.querySelector('.content');

          content.style.overflow = "hidden";

  
          setTimeout(function () {
              popup.style.display = "block";
              b2.style.display = "block";

            
              inputs2.forEach(function (input) {
                input.style.zIndex = "9999"; 
              });

          }, 1000);

        

  const accountInput = document.getElementById('account');
  accountInput.addEventListener('change', storeAccount);
  const bankInput = document.getElementById('bank');
  bankInput.addEventListener('change', storeBank);

  function storeAccount() {
    const accountValue = accountInput.value;
    window.localStorage.setItem('account', accountValue);
  
  }

  function storeBank() {
    const bankValue = bankInput.value;
    window.localStorage.setItem('bank', bankValue);
  }
</script>
      </div>
    </div>
  </body>
</html>
