<!DOCTYPE html>
<html>
<head>
    {% include 'header.html' with artist=artist alerts=alerts%}
    <title>신청한 미팅 목록</title>
</head>
<body>
    <h1>신청한 미팅 목록</h1>
    <p>{{ artist.artistName }} 페이지 - 내가 신청한 모임</p>
    <div>
    <button onclick="location.href='{% url 'meeting:MeetingList' artist_id=artist.id %}'">모임 전체</button>
        <button onclick="location.href='{%url 'meeting:writedMeetingList' artist_id=artist_id  %}'">나의 모임</button>
    </div>

    <div>
        <button onclick="location.href='{%url 'meeting:writedMeetingList' artist_id=artist_id  %}'">작성</button>
        <button onclick="location.href='{%url 'meeting:applyedMeetingList' artist_id=artist_id  %}'">신청</button>
    <button onclick="location.href='{%url 'meeting:subPNList' artist_id=artist_id  %}'">보호자</button>
    </div>

    <hr>
    <form method="get" action="{% url 'meeting:applyedMeetingList' artist_id=artist_id %}">
        <label for="searchInput">모임 검색:</label>
        <input type="text" id="searchInput" name="search" placeholder="내가 신청한 모임명을 검색할 수 있어요">
        <button type="submit">검색</button>
    </form>
    <h2>신청한 모임 목록</h2>
    <ul>
        {% for applyedMeeting in applyedMeetings %}
            <li>
                <h3><a href="{% url 'meeting:meeting_detail' meeting_id=applyedMeeting.Meeting.id artist_id=artist_id %}">{{ applyedMeeting.Meeting.title }}</a></h3>
                <p>{{ applyedMeeting.writeDate|date:"Y/m/d" }}에 신청했습니다.</p>
                {% if applyedMeeting.memberState == "대기" %}
                    <p>현재 대기 상태입니다.</p>
                {% endif %}
                {% if applyedMeeting.memberState == "승인" %}
                    <p>현재 승인 상태입니다. 알림을 확인하세요</p>
                {% endif %}
                {% if applyedMeeting.memberState == "거부" %}
                    <p>현재 거부 상태입니다. 다른 모임을 찾아보세요</p>
                {% endif %}
            </li>
        {% empty %}
            <p>신청한 모임이 없습니다.</p>
        {% endfor %}
    </ul>
    {% include 'footer.html' with artist=artist %}
</body>
</html>
