{% extends 'base_meeting.html' %}
{% load static %}
{% with artist=artist alerts=alerts %}
{% block content %}

<div style="margin-bottom:5px;" class="support_list_category">
    <button class ="allsupport" style="width:160px; margin-left:15px; font-size:20px;" onclick="location.href='{% url 'meeting:MeetingList' artist_id=artist.id %}'">모임 전체</button>
    <button class ="mysupport" style="width:160px; margin-left:22px; font-size:20px;" onclick="location.href='{% url 'meeting:writedMeetingList' artist_id=artist_id  %}'">나의 모임</button>
</div>

    <div class="meeting-button">
        <button onclick="location.href='{%url 'meeting:writedMeetingList' artist_id=artist_id  %}'">작성</button>
        <button onclick="location.href='{%url 'meeting:applyedMeetingList' artist_id=artist_id  %}'">신청</button>
    <button onclick="location.href='{%url 'meeting:subPNList' artist_id=artist_id  %}'">보호자</button>
    <div  style="margin-left:285px; margin-top:-25px;" >
        <a href="#;" onClick="zoomIn();"><img style="width:20px; height:20px;"src="{% static 'images/zoomin.png'%}" alt="확대"></a>
          <a href="#;" onClick="zoomOut();"><img style="width:20px; height:20px;"src="{% static 'images/zoomout.png'%}" alt="축소"></a>
        </div>    
</div>

    <form class="meeting-search-form" method="get" action="{% url 'meeting:applyedMeetingList' artist_id=artist_id %}">
        <label for="searchInput">모임 검색:</label>
        <input type="text" id="searchInput" name="search" placeholder="내가 신청한 모임명을 검색할 수 있어요">
        <button type="submit">검색</button>
    </form>

         <div class="meeting-writed">
        {% for applyedMeeting in applyedMeetings %}
        <div class="writed-lost">
            <div class="member-info">
                <h3><a href="{% url 'meeting:meeting_detail' meeting_id=applyedMeeting.Meeting.id artist_id=artist_id %}">{{ applyedMeeting.Meeting.title }}</a></h3>
                <p>{{ applyedMeeting.writeDate|date:"Y/m/d" }}에 신청했습니다.</p>
                {% if applyedMeeting.memberState == "대기" %}
                    <p>현재 대기 상태입니다.</p>
                {% endif %}
                {% if applyedMeeting.memberState == "승인" %}
                    <p>현재 승인 상태입니다. 알림을 확인하세요</p>
                {% endif %}
                {% if applyedMeeting.memberState == "거부" %}
                    <p>현재 거부 상태입니다. 다른 모임을 찾아보세요</p>
                {% endif %}
            </div>
            </div>
        {% empty %}
            <p>신청한 모임이 없습니다.</p>
        {% endfor %}
        </div>

{% endblock %}
{% endwith %}