{% extends 'base_no_nav.html' %}
{% load static %}
{% with artist=artist alerts=alerts %}
{% block content %}

    <img class="back" src="{% static 'images/back.png'%}" onclick="goBack()"></img>
    <h1>미팅 수정</h1>

    <form class="edit input" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <label for="title" class="name"></label>
        <input type="text" id="title" name="title" value="{{ meeting.title }}" placeholder="모임명" required>

        <label for="location"></label>
        <input type="text" id="location" name="location" value="{{ meeting.location }}" placeholder="장소"required>
   
        <label for="meetDate"></label>
        <input type="date" id="meetDate" name="meetDate" value="{{ meeting.meetDate }}" placeholder="일시"required>

        <label for="age" class="age"></label>
        <input type="text" id="age" name="age" value="{{ meeting.age }}" placeholder="나이제한" required>
  
        <label for="peopleNm"></label>
        <input type="number" id="peopleNm" name="peopleNm" value="{{ meeting.peopleNm }}" placeholder="인원"required>

        <label for="kakaoLink"></label>
        <input type="url" id="kakaoLink" name="kakaoLink" value="{{ meeting.kakaoLink }}" placeholder="오픈채팅방"required>

        <div class="detail1-container">
        <label for="body"></label>
        <textarea class="detail1" id="body" name="body" rows="4" required>{{ meeting.body }}</textarea>

        {% if meeting.image %}
            <img src="{{ meeting.image.url }}" alt="{{ meeting.title }} Image" width="200">
            <br>
        {% else %}
            <p>No image available</p>
            <br>
        {% endif %}
        </div>
 
        <label for="image"></label>
        <input type="file" id="image" name="image" accept="image/*" >
    
        <button class="submit-button" type="submit">저장</button>
    </form>

    <script>
        function goBack() {
          window.history.back();
        }
        </script>

{% endblock %}
{% endwith %}