{% extends 'base_meeting.html' %}
{% load static %}
{% with artist=artist alerts=alerts %}
{% block content %}

    <div style="margin-bottom:5px;" class="support_list_category">
        <button class ="allsupport" style="width:160px; margin-left:15px; font-size:19px;" onclick="location.href='{% url 'meeting:MeetingList' artist_id=artist.id %}'">모임 전체</button>
        <button class ="mysupport" style="width:160px; margin-left:10px; font-size:19px;" onclick="location.href='{% url 'meeting:writedMeetingList' artist_id=artist_id  %}'">나의 모임</button>
    </div>
    <div class="meeting-button">
        <button onclick="location.href='{% url 'meeting:MeetingList' artist_id=artist.id   %}'">진행중</button>
        <button onclick="location.href='{%url 'meeting:MeetingCloseList' artist_id=artist_id  %}'">종료</button>
    </div>


    <h2 class="title-meeting"> 덕질하기 좋은날 </h2>

    <p class="ment-meeting"> {{ artist.artistName }}을 좋아하는
        <br/> 사람들과 다양한 이야기를
        <br/> 나누어보세요!</p>


    <div class="artist_image_2">
        {% if artist.artistImage %}
            <img src="{{ artist.artistImage.url }}" alt="{{ artist.artistName }} Image" width="200">
        {% endif %}
    </div>

        <div class="meeting-grid">
            {% for meeting in meetings_recruiting %}
                <div class="meeting-item">
                    {% if meeting.image %}
                        <img src="{{ meeting.image.url }}" alt="{{ meeting.title }} Image" width="200">
                    {% else %}
                        <p>No image available</p>
                    {% endif %}
                    <div>
                    <p><a href="{% url 'meeting:meeting_detail' meeting_id=meeting.id artist_id=artist_id %}">{{ meeting.title }}</a>
                        </div>
                    <div>{{ meeting.peopleNm }}명</p></div>
                </div>
            {% endfor %}
        </div>
        <div class="create-button-container">
            <a href="{% url 'meeting:createMeeting' artist_id=artist_id %}" class="create-button">
                <div class="button-rectangle"></div>
                <p class="button-text">모임 작성하기</p>
            </a>
        </div>

{% endblock %}
{% endwith %}