{% extends 'base_form.html' %}
{% load static %}
{% with artist=artist alerts=alerts %}
{% block content %}

    <img class="back" src="{% static 'images/back.png'%}" alt="이전" onclick="goBack()"></img>
      <h1 class="h1-meeting">모임 작성하기</h1>
      <h3 class="h3-meeting">등록하고 싶은 모임 세부 사항을 작성해요!</h3>

      <form class="register input" id="meetingForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <label for="id_title" class="name" ></label>
        <input type="text" name="title" id="id_title" placeholder="모임명" required>

        <label for="id_location" class="place"></label>
        <input type="text" name="location" id="id_location" placeholder="장소" required>

        <label for="id_meetDate" ></label>
        <input data-placeholder="모금 종료 기간" class="date-placeholder" type="date" name="meetDate" id="id_meetDate" placeholder="일시" required>

        <label for="id_age" class="age"></label>
        <input type="text" name="age" id="id_age" placeholder="나이제한" required>

        <label for="id_peopleNm" class="people"></label>
        <input type="number" name="peopleNm" id="id_peopleNm" placeholder="인원" required>

        <label for="id_kakaoLink" class="openkakao"></label>
        <input type="text" name="kakaoLink" id="id_kakaoLink" placeholder="오픈 채팅방 링크" required>

        <div style="position: relative; border:none;">
        <label for="id_body"></label>
        <textarea class="detail1" name="body" id="id_body" placeholder="내용"required></textarea>
        <div class="select-wrapper " style="border:none; margin-top:-50px;">

        <label for="id_image" class="addImg-Button">사진</label>
        <input type="file" name="image" id="id_image" style="display:none;" required>
        </div>
        </div>

        <input type="submit" value="작성하기" class="register-Button">
        </form>

    <script>
        function goBack() {
          window.history.back();
        }
        </script>

{% endblock %}
{% endwith %}