{% extends 'base_form.html' %}
{% load static %}
{% with artist=artist alerts=alerts %}
{% block content %}

    <img class="back" src="{% static 'images/back.png'%}" alt="이전" onclick="goBack()"></img>
      <h1 class="h1-meeting">모임 작성하기</h1>
      <h3 class="h3-meeting">등록하고 싶은 모임 세부 사항을 작성해요!</h3>

      <form class="register input" id="meetingForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <label for="id_title" class="name" ></label>
        <input type="text" name="title" id="id_title" placeholder="모임명" required>

        <label for="id_location" class="place"></label>
        <input type="text" name="location" id="id_location" placeholder="장소" required>
      

        <input data-placeholder="일시"
        required
        aria-required="true"
        value={startDateValue}
        className={styles.selectDay}
        onChange={StartDateValueHandler} 
         class="date-placeholder" type="date" name="meetDate" id="id_meetDate" placeholder="일시" required>

        <label for="id_age" class="age"></label>
        <input type="text" name="age" id="id_age" placeholder="나이제한" required>

        <label for="id_peopleNm" class="people"></label>
        <input type="number" name="peopleNm" id="id_peopleNm" placeholder="인원" required>

        <label for="id_kakaoLink" class="openkakao"></label>
        <input type="text" name="kakaoLink" id="id_kakaoLink" placeholder="오픈 채팅방 링크" required>

        <div style="position: relative; border:none;">
        <label for="id_body"></label>
        <textarea class="detail1" name="body" id="id_body" placeholder="내용"required></textarea>
        <div class="select-wrapper " style="border:none; margin-top:-50px;">

        <label for="id_image" class="addImg-Button">사진</label>
        <input type="file" name="image" id="id_image" style="display:none" required>
        </div>
        </div>
        <input type="submit" value="항목을 모두 작성해 주세요" class="register-Button" disabled style="border-radius: 30.5px; background: #b3b1b0">
        </form>

    <script>
    let inputs = document.querySelectorAll("input");
    let startButton = document.querySelector(".register-Button");
    startButton.disabled = true;

    function checkInputs() {
    let allFilled = true;
    inputs.forEach(function(input){
    if (input.value === "") {
      allFilled = false;
      return;
    }
    });

    if (allFilled) {
    startButton.disabled = false;
    startButton.style.backgroundColor = "#BC67FF";
    startButton.value = "작성하기";
  } else {
    startButton.disabled = true;

    }
    }
    inputs.forEach(function(input){
    input.addEventListener("input", checkInputs);
    });
    function goBack() {
      window.history.back();
     }
     </script>

{% endblock %}
{% endwith %}