{% extends 'base_meeting.html' %}
{% load static %}
{% with artist=artist alerts=alerts %}
{% block content %}
<img class="back" src="{% static 'images/back.png'%}" alt="이전" onclick="goBack()" ></img>

    <h2 class="detail-title-meeting">모임명 : {{ meeting.title }}</h2>

    <div class="meeting-image">
    {% if meeting.image %}
        <img  src="{{ meeting.image.url }}" alt="{{ meeting.title }} Image">
    {% endif %}
    </div>

        <div class="custom-box2">
            <div class="meetdate"> <strong>일시 </strong> {{ meeting.meetDate|date:"Y/m/d" }}</div>
            <div class="meetlocation"> <strong>장소 </strong> {{ meeting.location }}</div>
            <div class="age"> <strong>나이제한 </strong> {{ meeting.age }}</div>
            <div class="peoplename"> <strong>작성자 </strong> {{ meeting.peopleNm }}</div>
            <div class="meeting-body"> <strong>내용</strong>{{ meeting.body }}</div>
            <div class="meetingstate"> <strong>모임 상태</strong> {{ meeting.meetingState }}</div>
    </div>
    <div class="buttons">
    {% if request.user != meeting.writeUser %}
        <form method="post" action="{% url 'meeting:applyMeeting' artist_id=artist.id meeting_id=meeting.id %}">
            {% csrf_token %}
            <button class="submit-button" type="submit">신청하기</button>
        </form>
    {% endif %}

    {% if request.user == meeting.writeUser %}
        
            <form method="post" action="{% url 'meeting:editMeeting' artist_id=artist.id meeting_id=meeting.id %}">
                {% csrf_token %}
                <button class="edit-button" type="submit">수정하기</button>
            </form>

            <form method="post" action="{% url 'meeting:closeMeeting' artist_id=artist.id meeting_id=meeting.id %}">
                {% csrf_token %}
                <button class="done-button" type="submit">마감하기</button>
            </form>
       
    
    {% endif %}
    </div>
    
<script>
    function goBack() {
        window.history.back();
      }
      
</script>
{% endblock %}
{% endwith %}
