{% extends 'base_meeting.html' %}
{% load static %}
{% with artist=artist alerts=alerts %}
{% block content %}

<div style="margin-bottom: 5px; display: flex; align-items: center;" class="support_list_category">
    <button class ="allsupport" style="width:160px; margin-left:15px; font-size:20px;" onclick="location.href='{% url 'meeting:MeetingList' artist_id=artist.id %}'">모임 전체</button>
    <button class ="mysupport" style="width:160px; margin-left:24px; font-size:20px;border-bottom:3px solid #000000;" onclick="location.href='{% url 'meeting:writedMeetingList' artist_id=artist_id  %}'">나의 모임</button>
</div>

    <div class="meeting-button">
        <button class="write-button"style="  border: 1px solid #bc67ff;color:#bc67ff;" onclick="location.href='{%url 'meeting:writedMeetingList' artist_id=artist_id  %}'">작성</button>
        <button class="apply-button" onclick="location.href='{%url 'meeting:applyedMeetingList' artist_id=artist_id  %}'">신청</button>
        <button class="guardian-button"onclick="location.href='{%url 'meeting:subPNList' artist_id=artist_id  %}'">보호자</button>
        <div class="tutorial-info-icon-meeting" id="tutorial-icon">
    <img
      src="{% static 'images/information.png'%}"
      alt="info"
      class="tutorial-image-meeting-2"
      id="tutorial-image"
    />
    <div class="tutorial-hover-box-meeting" id="myModal">
      <p>
        내가 작성한 모임의 신청자들을 관리할 수 있는 페이지예요. 신청자 정보 버튼을 눌러 신청자의 활동내역을 확인해보세요!<br>
      💡사용방법이 낯설다면 모임 기능을 연습해 보는건 어떠신가요?
      </p>
      <button
        class="tutorial-box-button-meeting"
        style="width: 150px; height: 40px"
        onclick="location.href='{% url 'user:tutorial_meeting' %}'"
      >
        연습하러 가기
      </button>
    </div>
  </div>
        <div  style="margin-left:285px; margin-top:-55px;" >
            <a href="#;" onClick="zoomIn();"><img style="width:20px; height:20px;"src="{% static 'images/zoomin.png'%}" alt="확대"></a>
              <a href="#;" onClick="zoomOut();"><img style="width:20px; height:20px;"src="{% static 'images/zoomout.png'%}" alt="축소"></a>
            </div>
    </div>

    <div class="centered-container"> 
        <form class="meeting-search-form" method="get" action="{% url 'meeting:writedMeetingList' artist_id=artist_id %}">
            <label for="searchInput" style="font-size: 17px; margin-left: 10px;">검색:</label>
            <input style="width: 190px;"  type="text" id="searchInput" name="search" placeholder="신청자명을 검색하세요" style="text-indent: 0; width: 182px;">
            <button type="submit">검색</button>
        </form>
    </div>

    <div class="meeting-writed">
        {% for meeting in meetings %}
            {% if meeting.members.exists %}
                {% for meetingMember in meeting.members.all %}
                    {% if meetingMember.memberState == "대기" %}
    {% if not search or search in meetingMember.User.userName %}
        <div class="writed-lost">
            <a href="{% url 'meeting:meeting_detail' meeting_id=meeting.id artist_id=artist_id %}" style="font-size:20px; font-weight: 500;">{{ meeting.title }}</a>
            <div class="member-info">
                <h3> 신청자 : {{ meetingMember.User.userName }}</h3>
                <form method="post" action="{% url 'userWorking:show_userWorking_guest' pk=artist.id meetingMember_id=meetingMember.id %}">
                    {% csrf_token %}
                    <button class="confirm-button" type="submit">신청자 정보 확인</button>
                </form>
            </div>
            <div class="action-buttons">
                <form method="post" action="{% url 'meeting:memberStateAccept' artist_id=artist.id meetingMember_id=meetingMember.id %}">
                    {% csrf_token %}
                    <button class="accept" type="submit">수락하기</button>
                </form>
                <form method="post" action="{% url 'meeting:memberStateRefusal' artist_id=artist.id meetingMember_id=meetingMember.id %}">
                    {% csrf_token %}
                    <button class="refuse" type="submit">거부하기</button>
                </form>
            </div>
        </div>
    {% endif %}
{% endif %}

                {% endfor %}
            {% endif %}
        {% empty %}
        {% endfor %}
    </div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
      const modalIcon = document.getElementById("tutorial-icon");
      const modal = document.getElementById("myModal");
      const content = document.querySelector('.content');
      const icon = document.getElementById("tutorial-image");

      modalIcon.addEventListener("click", function () {
          if (modal.style.display=="block"){
              document.body.style.overflow = 'auto';
              content.style.overflow = 'auto';
              modal.style.display = "none";
              icon.src = "{% static 'images/information.png'%}";
          }
          else {
              document.body.style.overflow = 'hidden';
              content.style.overflow = 'hidden';
              modal.style.display = "block";
              icon.src = "{% static 'images/information-hover.png'%}";
          }
      });
    });
</script>
{% endblock %}
{% endwith %}
