{% extends 'base_meeting.html' %}
{% load static %}
{% with artist=artist alerts=alerts %}
{% block content %}

<div style="margin-bottom: 5px; display: flex; align-items: center;" class="support_list_category">
    <button class ="allsupport" style="width:160px; margin-left:15px; font-size:20px;" onclick="location.href='{% url 'meeting:MeetingList' artist_id=artist.id %}'">모임 전체</button>
    <button class ="mysupport" style="width:160px; margin-left:24px; font-size:20px;border-bottom:3px solid #000000;" onclick="location.href='{% url 'meeting:writedMeetingList' artist_id=artist_id  %}'">나의 모임</button>
</div>

    <div class="meeting-button">
        <button class="write-button"style="  border: 1px solid #bc67ff;color:#bc67ff;" onclick="location.href='{%url 'meeting:writedMeetingList' artist_id=artist_id  %}'">작성</button>
        <button class="apply-button" onclick="location.href='{%url 'meeting:applyedMeetingList' artist_id=artist_id  %}'">신청</button>
        <button class="guardian-button"onclick="location.href='{%url 'meeting:subPNList' artist_id=artist_id  %}'">보호자</button>
        <div  style="margin-left:285px; margin-top:-25px;" >
            <a href="#;" onClick="zoomIn();"><img style="width:20px; height:20px;"src="{% static 'images/zoomin.png'%}" alt="확대"></a>
              <a href="#;" onClick="zoomOut();"><img style="width:20px; height:20px;"src="{% static 'images/zoomout.png'%}" alt="축소"></a>
            </div>
    </div>

    <form class="meeting-search-form" method="get" action="{% url 'meeting:writedMeetingList' artist_id=artist_id %}">
        <label for="searchInput" style="font-size:17px;">신청자 검색:</label>
        <input type="text" id="searchInput" name="search" placeholder="신청자명을 검색하세요" style="text-indent:0px;">
        <button type="submit">검색</button>
    </form>

    <div class="meeting-writed">
        {% for meeting in meetings %}
            {% if meeting.members.exists %}
                {% for meetingMember in meeting.members.all %}
                    {% if meetingMember.memberState == "대기" %}
    {% if not search or search in meetingMember.User.userName %}
        <div class="writed-lost">
            <h2><a href="{% url 'meeting:meeting_detail' meeting_id=meeting.id artist_id=artist_id %}">{{ meeting.title }}</a></h2>
            <div class="member-info">
                <h3>{{ meetingMember.User.userName }}</h3>
                <h3>{{ meetingMember.memberState }}</h3>
                <form method="post" action="{% url 'userWorking:show_userWorking_guest' pk=artist.id meetingMember_id=meetingMember.id %}">
                    {% csrf_token %}
                    <button class="confirm-button" type="submit">신청자 정보 확인</button>
                </form>
            </div>
            <div class="action-buttons">
                <form method="post" action="{% url 'meeting:memberStateAccept' artist_id=artist.id meetingMember_id=meetingMember.id %}">
                    {% csrf_token %}
                    <button class="accept" type="submit">수락하기</button>
                </form>
                <form method="post" action="{% url 'meeting:memberStateRefusal' artist_id=artist.id meetingMember_id=meetingMember.id %}">
                    {% csrf_token %}
                    <button class="refuse" type="submit">거부하기</button>
                </form>
            </div>
        </div>
    {% endif %}
{% endif %}

                {% endfor %}
            {% endif %}
        {% empty %}
        {% endfor %}
    </div>

{% endblock %}
{% endwith %}
