<!DOCTYPE html>
<html>
<head>
    <title>작성한 미팅 목록</title>
    <label for="artistDropdown">아티스트 선택:</label>
    <select id="artistDropdown" name="artist_id" onchange="selectArtist(this)">
        <option value="">전체</option>
        {% for artist in artists %}
            <option value="{{ artist.id }}">{{ artist.artistName }}</option>
        {% endfor %}
    </select>

    <script>
        function selectArtist(dropdown) {
            const selectedArtistId = dropdown.value;
            if (selectedArtistId) {
                window.location.href = `/meeting/${selectedArtistId}/phone`;
            } else {
                window.location.href = '/meeting/';
            }
        }
    </script>
</head>
<body>
    <h1>작성한 미팅 목록</h1>
    <p>{{ artist.artistName }} 페이지 - 보호자 전화번호</p>
    <h2><a href="{% url 'MeetingList' artist_id=artist_id %}">전체 - 모집 중 페이지로</a></h2>
    <hr>
    <p><a href="{% url 'applyedMeetingList' artist_id=artist_id %}">나의 모임 - 내가 신청한 페이지로</a></p>
    <p><a href="{% url 'writedMeetingList' artist_id=artist_id %}">나의 모임 - 내가 작성한 페이지로</a></p>
    <hr>
    <form method="get" action="{% url 'subPNList' artist_id=artist_id %}">
        <label for="searchInput">검색:</label>
        <input type="text" id="searchInput" name="search" placeholder="참석자명을 검색할 수 있어요">
        <button type="submit">검색</button>
    </form>
    <ul>
        {% for meeting in meetings %}
            <li>
                <h2><a href="{% url 'meeting_detail' meeting_id=meeting.id %}">{{ meeting.title }}</a></h2>
                {% if meeting.members.exists %}
                    <ul>
                        {% for meetingMember in meeting.members.all %}
                            {% if meetingMember.memberState == "승인" %}
                                {% if not search or search in meetingMember.User.userName %}
                                    <li>
                                        <h3>{{ meetingMember }}</h3>
                                        <p>{{ meetingMember.User.subPhoneNumber }}</p>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>수락한 모임원이 없습니다.</p>
                {% endif %}
            </li>
        {% empty %}
            <p>작성한 미팅이 없습니다.</p>
        {% endfor %}
    </ul>
</body>
</html>
